[2020-11-21 18:06] #583 closed

[2020-11-22 05:09] undisputed-seraphim commented on #594
My problem was that I was trying to write to the same table from different threads. All I did was to avoid that be re-organizing the code.

I also adjusted my sqlite3 commands so that the query planner does not detect a deadlock, hence the busy timeout is respected ([reference](https://stackoverflow.com/questions/30438595/sqlite3-ignores-sqlite3-busy-timeout))

[2020-11-22 05:25] undisputed-seraphim commented on #611
It seems that a few files were left out.
- `examples/find_package/src/main.cpp`
- `examples/fetch_content/src/main.cpp tests/*.cpp`

Also it seems that clang-format-9 has a bug where the alignment results in
`[](void* data, int argc, char** argv, char* * /*azColName*/) -> int`
(Note the space between asterisks at `char`)
(Taken from `dev/storage_impl.h`, `include/sqlite_orm/sqlite_orm.h`)

[2020-11-22 05:38] fnc12 commented on #611
Thank you. I've fixed it and pushed

[2020-11-22 10:17] fnc12 commented on #611
@undisputed-seraphim please check out `dev` branch

[2020-11-23 04:03] fnc12 commented on #624
@juandent is the issue actual?

[2020-11-23 04:09] fnc12 commented on #628
@undisputed-seraphim is the issue actual?

[2020-11-23 04:19] fnc12 commented on #573
Ok. I updated https://github.com/fnc12/sqlite_orm/wiki/Making-a-storage page.

[2020-11-23 19:27] fnc12 commented on #493
it was fixed before. Thanks

[2020-11-23 19:27] #493 closed

[2020-11-23 19:31] fnc12 commented on #561
@juandent I think the best way to accomplish this task is to implement it manually first and then analyze code to find out any templates (in common meaning) in this code. I'd like you to paste it here. Then I will be able to help you. Thanks

[2020-11-23 20:54] juandent commented on #624
the issue is still on the table -- dump will not compile if the mapped struct has a wstring member

[2020-11-23 21:11] juandent commented on #624
My suggestion for a solution is to add a field_printer for wide strings with a default (although not perfect ) conversion to narrow strings taken from row_extractor, like so:

[code]

Then you can add this to test it works:

[code]

Would be nice to have that come with sqlite_orm right?

I suggest adding it @fnc12

[2020-11-23 21:16] juandent commented on #624
One but: I cannot see the output in the test controller so i cannot verify how the wstrings are converted to strings! -- maybe don't know how to use the unit test dialog!!

[2020-11-24 01:28] undisputed-seraphim commented on #611
[code]

Only these changes remain.
It is much fewer changes compared to before, so it is an improvement 👍
The boundary is still clang-format-10 -> clang-format-11.

I think at this point, removing `PointerAlignment` and setting `DerivePointerAlighment: true` is the best course of action.

[2020-11-24 01:28] undisputed-seraphim commented on #628
Sorry for the lack of response. I'm testing some code now to see if it works.

[2020-11-24 03:31] fnc12 commented on #624
@juandent this is a nice solution but I will not add it cause:
1) `wstring_convert` is deprecated in C++20
2) the way you convert strings is user related. It means someone may want to do it another way and not with utf8

[2020-11-24 17:18] juandent commented on #624
Understood!! I guess its time to close this then

[2020-11-24 17:18] #624 closed

[2020-11-28 21:42] juandent opened #631 "How can I make a where clause with like and also collate_nocase()?"
I need the following where clause:

[code]

but this does not compile....

[2020-11-28 21:52] juandent commented on #631
I forgot that LIKE applies no case always!!- -- sorry

[2020-11-28 21:52] #631 closed

[2020-12-04 08:16] ozil-cao opened #632 "compile failed when struct inherit"
sometimes we have some same columns in different tables,and we can put them in a base struct.    and others can derive from it.
for example
[code]
but it did't work, some error happened when I try to compile,here is the error message:
[code]
I run on mac os 10.15.3  with  clang-1103.0.32.62
what can I do to make it correct ?

[2020-12-04 14:00] fnc12 commented on #632
this happens cause storage thinks that you want to store `TbBase` not `XUser`. The way it defines the type it very simple: type of struct of a member pointer passed into the first `make_column` call. Specify type explicitly to avoid this misunderstanding:
[code]

[2020-12-05 06:55] ozil-cao commented on #632
Thanks, It works fine for me!
but I still have some troubles here

[code]
some error happened as follows,because of ```id```  is declared in ```TbBase```
sqlite_orm.h:6616:29: error: no member named 'column_name' in 'sqlite_orm::internal::storage_impl<>'
        return this->super::column_name(m);
[code]

[2020-12-05 08:07] fnc12 commented on #632
Use this.
[code]
Cause C++ compiler thinks that `&XUser::id` is actually `&TbBase::id`.

[2020-12-05 11:12] ozil-cao commented on #632
It works fine, No problems anymore .
Your help was very much appreciated !

[2020-12-05 11:13] #632 closed

[2020-12-07 05:51] meghasemim1999 commented on #376
hi
this code you provided is not for private members

i need somthing like this:

[code]
and then use setter for set statement

[code]

is this possible?

[2020-12-07 05:53] fnc12 commented on #376
hi @meghasemim1999. Yes it is possible. Just try it

[2020-12-07 06:16] meghasemim1999 commented on #376
thanks
i made a mistake before.
its compilied now,

[2020-12-09 05:05] #628 closed

[2020-12-09 05:41] fnc12 commented on #611
here is a PR https://github.com/fnc12/sqlite_orm/pull/633

[2020-12-10 07:03] 305236917 opened #634 "Inheritance is not supported"
struct A
	{
		int Id;
		string Name;
	};

	struct B : A
	{
		string Extern;
	};

	auto ts =
		make_storage("Storage.db",
			make_column("Id", &B::Id, primary_key()),
			make_column("Name", &B::Name),
			make_column("Extern", &B::Extern)
		);

//Compile failed

[2020-12-10 07:07] fnc12 commented on #634
`make_storage` does not accept `make_column` calls but accepts `make_table` instead. Please correct your `make_storage` call.

[2020-12-10 07:19] 305236917 commented on #634
thanks a lot, it works..

[2020-12-10 07:20] #634 closed

[2020-12-10 07:50] 305236917 opened #635 "Use "where" on child struct failed"
[code]

[2020-12-10 08:03] fnc12 commented on #635
the reason is that you use inheritance. Storage maps one table to one class. To understand a class to map it takes the first member pointer from `make_table` call and deduces a type from it. Your first member pointer is `&B::Id`. Its type is `B` but actually it is declared inside `A`. So compiler thinks that you mean `A` and `A` is not mapped to your storage so static check fails. This is how C++

[2020-12-10 08:34] 305236917 commented on #635
I appreciate your time. Now it works.

[2020-12-10 08:37] fnc12 commented on #635
you are welcome. Please feel free to ask anything. Also don't forget to looks for the same issue first - it will take less your time.

[2020-12-10 08:37] #635 closed

[2020-12-18 19:59] fnc12 commented on #611
@undisputed-seraphim please check out `dev` branch

[2020-12-18 20:00] fnc12 commented on #144
@TimSC you know I think we don't have to create such API cause the main rule if this lib is one function call per one query. Exception is `sync_schema`. And this functionality can be performed manually right now. So let's leave it as is.

[2020-12-18 20:00] #144 closed

[2020-12-21 08:22] fnc12 commented on #150
https://github.com/fnc12/sqlite_orm/pull/637

[2020-12-21 12:37] fnc12 commented on #150
@sivabudh I've just merged all JSON1 extension functions support into `dev` except two functions: `json_each` and `json_tree`. Sorry for late response. These two functions will be implemented later cause I need more time to think about the way to implement them.

[2020-12-23 07:08] taurusai opened #638 "default value for string"
It appears sqlite only accept single quote for default string values, which requires the code below to use single quote when serializing:
[code]

[2020-12-23 07:21] fnc12 commented on #638
how can I reproduce the bug?

[2020-12-23 14:16] fnc12 commented on #611
is the issue actual?

[2020-12-24 04:34] taurusai commented on #638
Try this code (with sqlite_orm 1.6):

`
struct Contact {
  int id = 0;
  std::string firstName;
  std::string lastName;
  std::string phone;
};

using namespace sqlite_orm;
auto storage = make_storage("/tmp/test.sqlite",
                            make_table("contacts",
                                       make_column("contact_id", &Contact::id, primary_key()),

[2020-12-24 19:22] fnc12 commented on #599
@juandent is the issue actual?

[2020-12-25 17:56] fnc12 commented on #638
@taurusai does it reproduce in `dev` branch?

[2020-12-28 04:18] taurusai commented on #638
yes

[2020-12-28 08:58] 305236917 opened #640 "foreign key"
I want to create a database with a foreign key like this:
	struct A
	{
		int a;
	};

	struct B : A
	{
		int b;
	};

	struct C
	{
		int c;
	};

	auto ts =
		make_storage("TS",
			make_table("C",
				make_column("c", &C::c, primary_key())
			),
			make_table("AB",
				make_column("b", &B::a, primary_key()),
				make_column("b", &B::b),
				foreign_key(&B::b).references(&C::c).on_delete.cascade()

[2020-12-29 04:39] fnc12 commented on #638
@taurusai ok thanks. I shall fix it today

[2020-12-29 13:37] #640 closed

[2020-12-29 13:38] fnc12 commented on #640
@305236917 is everything good?

[2020-12-30 05:31] fnc12 commented on #638
the fix is on its way https://github.com/fnc12/sqlite_orm/pull/642

[2020-12-30 06:03] taurusai commented on #638
Great, thanks!

[2020-12-30 10:32] fnc12 commented on #638
@taurusai merged in `dev` branch. Please check it out

[2021-01-03 04:42] fnc12 commented on #611
closing due to inactivity

[2021-01-03 04:42] #611 closed

[2021-01-03 04:42] fnc12 commented on #573
is the issue actual?

[2021-01-03 04:43] fnc12 commented on #561
@juandent is the issue actual?

[2021-01-03 15:47] juandent commented on #561
The issue can be treated like so:

[code]

but is there a better way where we could ask the tables for their foreign key/primary key pair and automate these "has_links" functions?

That is, rather than me especifying  foreign key and primary key for each relation of a table, can't this info be extracted from the schema?

[2021-01-03 15:49] juandent commented on #561
can we ask the schema for a list of foreign keys/primary keys instead of writing them out ourselves? the schema has this information doesn't it?

[2021-01-03 15:54] fnc12 commented on #561
Wh do you need it? To know whether row has references before deletion or something else?

Yes we can make a function like `storage.foreign_keys_count<User>()` which will return `int` with a value that equals amount of foreign key column in `User` schema in storage.

[2021-01-03 16:00] juandent commented on #561
we need it to automate the has_links() functions - so we can write one has_links() function generically that would test whether row has references before deletion

[2021-01-03 16:04] fnc12 commented on #561
ok. `has_links` implementation must work like this (pseudocode):

[code]
What do you think?

[2021-01-03 16:11] juandent commented on #561
sort of: it is missing the where like in this:

[code]

[2021-01-03 16:17] fnc12 commented on #561
I think that you need `ON DELETE CASCADE` feature https://www.techonthenet.com/sqlite/foreign_keys/foreign_delete.php. Can it solve your issue?

[2021-01-03 16:23] juandent commented on #561
not really a solution though... I don't intend to delete all related rows only find if they exist and how many there are (hence the count)

[2021-01-03 16:24] juandent commented on #561
can't I get this information from the schema?

[2021-01-03 16:26] fnc12 commented on #561
you can get any information from schema. But schema does not contain information about rows but only about columns. I think it is not enough for you isn't it?

[2021-01-03 16:29] juandent commented on #561
for each foreign key relation, I should be able to ask the schema for the foreign key and the referenced primary key and then build a where(is_equal( FOREIGNKEY, VALUE FOR PRIMARY KEY)
is this not possible?

[2021-01-03 16:37] fnc12 commented on #561
class `storage_impl` has `int foreign_keys_count()` function. It iterates columns and searches fir all foreign key in columns list. I think we can use this code to add new API for link searching.

[2021-01-03 16:38] juandent commented on #561
something like:

[code]

[2021-01-03 16:59] juandent commented on #561
is there a function to access the foreign keys of a table T?

[2021-01-03 17:00] juandent commented on #561
and does it return with information about what primary key of which table it references?

[2021-01-03 17:01] juandent commented on #561
maybe having this information I can create the has_links() function??

[2021-01-04 04:24] fnc12 commented on #573
closing due to inactivity

[2021-01-04 04:24] fnc12 commented on #638
@taurusai does everything work?

[2021-01-04 09:05] taurusai commented on #638
Yes, dev is working now, thanks!

Looking forward to 1.7 release.

[2021-01-04 09:05] #638 closed

[2021-01-04 18:45] fnc12 commented on #561
there is no public API for this right now. Let me think about it and I will make some public API in a dedicated branch for you to test

[2021-01-04 23:21] juandent commented on #561
great!! Thanks superb!!
Happ New Year!

[2021-01-05 03:58] fnc12 commented on #561
thanks! You too!

[2021-01-08 06:41] #573 closed

[2021-01-12 00:28] juandent commented on #561
Hi @fnc12 how are you? Any progress on our little project? I know you must be very busy so please excuse my anxiety -- I am just too happy with the idea of the project. God bless..

[2021-01-12 04:46] fnc12 commented on #561
hi @juandent . Yeah unfortunately I had no time for this but I start in in a week. Sorry for long waiting.

[2021-01-12 17:36] juandent commented on #561
no problem!!

[2021-01-15 03:24] jinzw1993 opened #643 "Can't execute sql statement directly, which is very sad"
Can't execute sql statement directly, which is very sad

[2021-01-15 06:36] fnc12 commented on #643
Just tell what SQL query you want to execute

[2021-01-15 09:32] #643 closed

[2021-01-17 21:09] denzor200 opened #645 "stricter registration of fields in a table?"
How about this?
[code]
compatibility with the previous version will be lost a little .. But I think it's worth it.

[2021-01-17 21:12] fnc12 commented on #645
Thanks for submitting this.
Two questions:
1) what profit we will get?
2) how to implement this?

[2021-01-17 21:26] denzor200 commented on #645
1. On a large number of tables, it is very easy to miss the "make_column" and suffer sitting in the debugger (
2. It is not easy, but it is possible. Let's take a look at the "pfr" library, implemented in pure C ++ 14, with no additional dependencies. I believe that we can repeat.
https://github.com/boostorg/pfr

[2021-01-17 21:30] fnc12 commented on #645
1. It will be fixed in this https://github.com/fnc12/sqlite_orm/issues/450 . Probably you'll like it more
2. prf looks like `magic_get` by Anton Polukhin from yandex company. This is a great library and Anton is a brilliant C++ coder but there is not need to add `magic_get`'s functionality in `sqlite_orm` if we can solve it using codegen.

[2021-01-17 21:34] denzor200 commented on #645
Ok. I have no answers

[2021-01-17 21:34] #645 closed

[2021-01-17 21:55] denzor200 opened #646 "Several different sqlite3 dlls in one application?"
[code]

[2021-01-17 22:00] fnc12 commented on #646
why? Do you really have several different sqlite3 binaries linked to your main binary?

[2021-01-17 22:01] denzor200 commented on #646
For example, it would be useful to have several libraries with different values of the SQLITE_THREADSAFE macro. In some cases, reliability is important, and in others, performance is important.

[2021-01-17 22:03] fnc12 commented on #646
But you can have different libraries already now. And you can use different sqlite libraries with different `sqlite_orm` storages.
Also I am still interested do you really have a project with more than one sqlite3 lib linked to?

[2021-01-18 21:23] denzor200 opened #647 "Rollback error handler"
Let's give as an example the code for executing a certain transaction using _**sqlite_orm**_.
[code]
This code is pretty cool, but let's imagine such a situation as "none of the application modules has the right to stop the application in the event of any external error without prior notification of other modules". This is a normal situation for background daemons that run 24/7.
It turns out that

[2021-01-19 06:18] fnc12 commented on #647
The idea is nice. How you'd implement this?

[2021-01-19 09:10] fnc12 commented on #646
@denzor200 is the issue actual?

[2021-01-19 18:34] denzor200 commented on #646
I don't know how. Please, can you tell me?

No, I want to experiment with that. There are suggestions that this will take root in my project

[2021-01-19 18:47] denzor200 commented on #647
I will describe in more detail in the near future

[2021-01-20 08:12] fnc12 commented on #646
It is very weird practice and is not desired at all. Assume you have two different cpp files. They are compiled to two different translation units. Either of these units can be linked against different binaries even if these binaries have the same functions. You need to learn about static libraries compiling (it is not so complicated actually) and linking. But again: this technique is not desired

[2021-01-20 20:49] denzor200 commented on #646
Ok. Thanks for your time.

[2021-01-20 20:49] #646 closed

[2021-01-20 22:30] denzor200 commented on #647
I would start with this destructor implementation. This is already enough for most cases.
[code]
But, if we need the ability to retry, the implementation will have to be a little more complicated.
[code]
Here we see that the custom `fire_handler`, in addition to preparing to stop the application, can also prepare for another iteration. But do we really need this retry? While this question remains

[2021-01-22 19:05] fnc12 commented on #647
The first implementation will call `fire_handler` if `rollback_func` or `commit_func` (i.e. user code) will throw an exception. This is weird cause you talk only about rollback case. I think that the best way of implementing it is finding out this feature in SQLite and then adapt it in `sqlite_orm`. Also adding `while (true)` is not what transaction guard is about. It guards a transaction and that

[2021-01-22 19:15] fnc12 commented on #561
I think I know how to implement it. I shall start it right now.

[2021-01-22 20:07] denzor200 commented on #647
I got acquainted with sqlite3_commit_hook and sqlite3_rollback_hook. Do they register error handlers? As i undestand, they are called before normal execution of rollback

[2021-01-22 20:24] fnc12 commented on #647
Yes `sqlite3_rollback_hook` is called on every rollback: both on explicit rollback called by you and implicit called by sqlite. You can set a hook right before executing a query that can fire implicit rollback and reset a hook right after this query. Or you can keep a bool flag to indicate that implicit rollback is expected.

[2021-01-23 00:43] fmichaut-epitech opened #648 "Can't build from source, fail to fetch Catch2"
I tried to follow the install instructions in the readme :
[code]

But I encountered an issue during the execution of theses steps.
The Catch2 dependecy fail with the folowing message :
[code]

It looks like the ref "master" doesn't exist anymore in the Catch2 github repository. I cloned it to verify, and indeed the master branch wasn't there. The default branch when cloning the repository is now

[2021-01-23 07:00] fnc12 commented on #648
hi @fmichaut-epitech . Yes the problem exists and it is fixed in `dev` branch. Catch2 was attacked by social justice warriors and removed `master` branch probably cause `master` makes someone feel uncomfortable or something like this. It is very unpleasant case at all. It would be great if you'll fix it in `master` branch in this repo cause `master` is failing right now.
BTW you use `sqlite_orm` 1

[2021-01-23 14:11] fmichaut-epitech commented on #648
Okay, well even if I change this in the main branch, I think the build will still not succed.
I had another error when I tried to build the project on the master branch :

[code]
I tried to find "catch.hpp" in the repo, the only location `find` returned was `./third_party/vcpkg/toolsrc/include/catch2/catch.hpp`
(I tried to exec "./build.sh" at the begining, that downloaded this file if i'm not mis

[2021-01-23 17:17] fnc12 commented on #648
Everything must work in `dev` branch. At least it works on CI (travis and appveyor) for sure. I don't use cmake for myself then this is all I can tell. If error still exists in `dev` I'd like you to fix this. Thanks in advance

[2021-01-23 18:10] Overlordff opened #649 "Make field_printer customization via SFINAE avaliable"
Now I have to write explicit specialization for every type, but I want to use one partial specialization which will be chosen via SFINAE.

For example, now I have to write something like this:
[code]

I want to just write:
[code]

It can be done if you provide to the field_printer second template parameter for SFINAE  like you did for other traits (type_printer, row_extractor, statement_binder).

[2021-01-23 18:23] fnc12 commented on #649
Yes I have already thought about it two years ago. Of course it would be great. Please make a PR and I shall review it. Thanks

[2021-01-24 00:39] fmichaut-epitech commented on #648
Okay, do I checked on the `dev` branch, and it was indeed working.

The issue that I've been facing was because I checked out the branch `devel` of catch2, in which (for whatever reason) the directory `include` doesn't exists anymore.

So just by adding `GIT_TAG v2.13.2` in `dependencies/CMakeLists.txt` on `master`, the issue should be solved
I created a pull request with just that change targetin

[2021-01-24 09:16] #648 closed

[2021-01-24 18:00] fnc12 commented on #561
@juandent here is the PR https://github.com/fnc12/sqlite_orm/pull/651. It is in WIP status. I am working on it. I shall comment here when it is ready.

[2021-01-27 09:06] fnc12 commented on #649
I've just merged the PR. Is the issue actual?

[2021-01-27 09:48] Overlordff commented on #649
Thanks, I'll be waiting for the release anyway.

[2021-01-27 09:48] #649 closed

[2021-01-27 10:39] Overlordff opened #653 "Make storage_base movable"
I have code:
[code]
And then:
[code]
Where `inThread1`, `inThread2` and `inThread3` are running  in three different threads simultaneously.
The program crashes because of race condition on connection object in `get_all`. I guess it is because of in `return storage` the storage object is copied and I see your `storage_base` copy semantic is strange. You don't copy state of source object. Neither th

[2021-01-28 17:51] Overlordff commented on #653
Hmm, `storage_base` saves pointer to `this` in sqlite3 when calls `sqlite3_busy_handler`. It makes move semantic more complicated. May be re-register `busy_handler_callback` with new `this`? It can be another things like that. Need to be researched!

[2021-01-28 20:42] denzor200 opened #654 "Without rowid"
The `_without_rowid` parameter only affects the `insert` method. This parameter does not apply to `insert_range`. Is this expected?

[2021-01-28 20:44] denzor200 commented on #654
statement serializator for `insert`:
https://github.com/fnc12/sqlite_orm/blob/dev/include/sqlite_orm/sqlite_orm.h#L10710
statemente serializator for `insert_range`:
https://github.com/fnc12/sqlite_orm/blob/dev/include/sqlite_orm/sqlite_orm.h#L10832

[2021-01-29 18:14] fnc12 commented on #653
yes it must be registered again. Looks like a bug. Also moving a storage is a good idea. IDK why no one before didn't mention it. Also copying a storage create a new connection which is closed even if source storage was opened forever before.

[2021-01-30 08:58] fnc12 commented on #654
It looks like a bug

[2021-01-30 22:03] denzor200 commented on #654
Ok, i will fix it in separate PR

[2021-01-30 23:04] denzor200 commented on #654
Fixed.
https://github.com/fnc12/sqlite_orm/pull/655

[2021-01-31 01:07] Overlordff opened #656 "How to make select's result field optional?"
I have some data model:
[code]
And have scheme:
[code]
Now I write some query with `LEFT JOIN`:
[code]

When I write `left_join`  I expect that some rows doesn't match the "on" predicate and column `coupon` will be `NULL` in the result table.
So, i want to see `std::optional<double>` in result tuple with `std::nullopt` values when `NULL`. But I got `double` type and `0.0` values instead.  How to t

[2021-01-31 01:08] Overlordff commented on #656
Also, I need to write `nullptr` in `coalesce` even I work with `std::optional`. I want to write `std::nullopt`. It looks like a bug.

[2021-01-31 07:38] fnc12 commented on #654
@denzor200  thanks. I've merged it a minute ago.

[2021-01-31 07:39] #654 closed

[2021-01-31 07:42] fnc12 commented on #656
When you select `&Bond::coupon` you get `decltype(Bond::coupon)` e.i. `double`. If you change Bond's coupon type to optional then you'll get an optional as result. But it is not the best solution. Using `coalesce` is correct cause it is why it was created.
Please show me the example of writing `nullptr ` in `coalesce` cause I cannot understand what you are talking about. Thanks

[2021-01-31 10:02] fnc12 commented on #647
@denzor200 what do you think about idea I wrote about 9 days ago here? It is ok or you'd like it another way?

[2021-01-31 12:55] Overlordff commented on #656
I found test case that fails (1.6 release):
[code]

[2021-01-31 13:08] Overlordff commented on #656
May be provide some way to explicit set result type? Something like this:
[code]
`coalesce` seems like a crutch in this case.

[2021-01-31 13:18] Overlordff commented on #656
Also, I think the best way is to deduce all columns that come from joined table (`Bond` in my case) as `std::optional<T>` because they really can be `NULL` in the result table. But I'm not sure that it can be implemented in general case.

[2021-01-31 17:41] fnc12 commented on #656
Oh man. You're right. Let me fix it. Thanks

No. Let me explain it. First let's imagine how the same task can be solved in raw SQLite. SQLite has a schema like this:
[code]
Consider `NOT NULL` constraint. It is added always when member is not nullable (`double` in your case). Without this rule we will meet ambiguous behavior: in both cases when databases stores 0 and NULL we'd get `double(0)`. So

[2021-01-31 23:45] Overlordff commented on #656
When we use `LEFT JOIN` - `NOT NULL` constraint has no effect. You have considered case with one simple select, but I'm talking about select + left join!

For example, we have the DB:
[code]

We make a query:
[code]

And got the result:
![image](https://user-images.githubusercontent.com/17942815/106401545-bce37680-6435-11eb-981b-f14635ebb871.png)
All fields in my scheme are `NOT NULL`, but  i got

[2021-01-31 23:46] Overlordff commented on #656
I hope you understand me now :-)

[2021-02-01 00:04] Overlordff commented on #656
The main problem is that when we use `sqlite_orm::left_join` we can't detect where it is really `NULL` value, and where it is "default constructed" values, for example empty string or 0 integer because the all will be "default constructed" in the result tuples. May be I use `left_join` incorrectly, but I can't find good way to set correct type in the result tuple.

Again, i think use `coalesce` to

[2021-02-01 09:39] fnc12 commented on #656
Oh man looks like you're right. I've never thought that SQLite can make such a trick with NULL. So it means that I understand you and it looks like that your initial suggestion about `select` function column nullability has its meaning.
Your idea about `as_nullable` is good but I'd like to name it `as_optional` cause `nullable` is very common word and there are more than one nullable classes (e.g.

[2021-02-01 12:21] Overlordff commented on #656
It is common feature of `OUTER` joins in SQL (`LEFT JOIN` means `LEFT OUTER JOIN`). They write `NULL` if row from joined table doesn't match predicate in `ON` expression. If we used just `JOIN` which means `INNER JOIN`, we would not get `NULL` values (because not matched rows would not be included in result table).

I have already wrote how I see the best solution:
https://github.com/fnc12/sqlite_

[2021-02-01 13:40] fnc12 commented on #656
I think one issue is enough. I shall fix both cases soon. Thanks

[2021-02-01 16:17] fnc12 commented on #656
https://github.com/fnc12/sqlite_orm/pull/657 nullopt bindings https://github.com/fnc12/sqlite_orm/pull/657. Please add yourself as reviewer if you wish to.

[2021-02-03 10:19] fnc12 commented on #656
@Overlordff please review https://github.com/fnc12/sqlite_orm/pull/658

[2021-02-03 15:57] fmichaut-dev opened #659 "Add support for sqlite triggers"
Hello,

I wanted to use [SQlite triggers](https://sqlite.org/lang_createtrigger.html).
But I realised that there is no such feature in sqlite_orm, is it something that you plan to integrate in the library ?

[2021-02-03 16:17] Overlordff commented on #656
Cool, when is the release planned?

[2021-02-03 17:15] juandent commented on #561
@fnc12 how are you doing? Any progress?

[2021-02-03 17:30] fnc12 commented on #561
@juandent hi. The feature is still in progress. Here is the status:
1) foreign key traits to define amount of foreign keys - done
2) foreign key traits to define a tuple of type that have references to a specific type as foreign keys - in progress
3) tuple iteration over tuple type without tuple instance - to be done
4) final storage public function with getting tuple type of references and iterat

[2021-02-03 17:42] fnc12 commented on #659
Hello. Triggers exist in the [todo list](https://github.com/fnc12/sqlite_orm/blob/master/TODO.md). Triggers is a great feature. It was added to the todo list a long time ago but it was unable to complete before prepared statements existence. But now it is available to do it. I think it will be done in the nearest future. The plan for the nearest release is user defined functions and triggers. BTW

[2021-02-03 17:43] fnc12 commented on #656
IDK. In a month or two. I need to add enough features to make a release. If you can't wait probably you want to use `dev` branch in your project?

[2021-02-03 18:03] Overlordff commented on #656
I can't use dev branch (cause I use your library via vcpkg), but I can wait. So, no problem.

I have finished review and have tested locally, so u can close this issue.

[2021-02-03 18:28] fnc12 commented on #656
Thank you. And thanks for your help.

[2021-02-03 18:28] #656 closed

[2021-02-03 18:37] juandent commented on #561
Great progress!! Thanks!

[2021-02-03 19:10] juandent commented on #561
I suppose you will write code showing how to use this new API right?

[2021-02-03 19:11] juandent commented on #561
Examples are my preferred way of learning!

[2021-02-03 19:18] fnc12 commented on #561
something like:
[code]

[2021-02-03 19:44] juandent commented on #561
beautiful!

[2021-02-04 19:18] denzor200 opened #660 "More progressive enum binding?"
Why is enum binding so verbose? Is there any objective reason why we can't implement this?
[code]

[2021-02-04 19:23] fnc12 commented on #660
Cause different people store enums in different ways. Most populars ways are:
1) as string (as you don in this example)
2) as int

Also enum may be nullable - some people do it. Of source API simplifying is a very good idea and your code looks very pretty but first of all we must not  create limits and make people omit using `sqlite_orm` due to its limitations.

[2021-02-04 19:28] denzor200 commented on #660
We do not plan to limit anyone in anything. Those who have a difficult case use **the old API**. Those who just need to save the enum as a string - just use **the new API** and don't bother.

[2021-02-04 19:32] denzor200 opened #661 "Test for static assertions"
Do we need tests that will confirm that static assertions will work at the right time? Many C ++ templating libraries have tests like this, why not.

[2021-02-04 19:34] fnc12 commented on #660
Ok it sounds good. But the question remains about implementation. The old way is made with template specialization which works for all storages within a binary. The new way omits any specializations and adds reflection right into a storage. This is cool. But we will need to implement the second API and support both ways. Also what happens when someone will add both specializations and the new way

[2021-02-04 19:36] fnc12 commented on #561
@juandent the second step is also implemented. I am starting making new tuple iteration.

[2021-02-04 19:37] fnc12 commented on #661
What exactly are you talking about? Static tests are being tested not straight but classes used inside static asserts are tested too. Or you are talking about catching build errors?

[2021-02-04 19:57] denzor200 commented on #661
Build error is always better than runtime error - it's a fact.
As yet _sqlite_orm_ is able to detect **not** so many invalid cases at compile time. And we can follow each `static_assert` manually and make sure that it really throws an build error. But in the future, when there will be a lot of static asserts, it will become impossible to follow them manually.

[2021-02-04 19:58] fnc12 commented on #661
Yes you are right. How would you like to improve it?

[2021-02-04 20:03] denzor200 commented on #661
The first thing that comes to mind. Write a utility that accepts the path to the directory in which the cpp files with invalid code are located. Call the compiler for each file and parse the compiler output.

[2021-02-04 20:04] denzor200 commented on #661
I will need to see how this is done in all sorts of well-known libraries, for example, boost

[2021-02-04 20:06] fnc12 commented on #661
This type of tests is called environmental tests. Of course it will make code safer. But there is easier way: encapsulate static assert inside a class and cover it with static tests. But of course if you write environmental tests it will be the best way.

[2021-02-04 20:08] denzor200 commented on #660
we need to think about how to act correctly in this situation

I'm willing to take the time and figure out the details

[2021-02-04 20:09] fnc12 commented on #660
@denzor200 thank you. Your ideas are great!

[2021-02-04 20:30] juandent commented on #561
Great job!

[2021-02-04 20:30] juandent commented on #561
Great job!

[2021-02-05 16:17] fnc12 commented on #561
@juandent the third step is complete. Almost done.

[2021-02-05 17:08] juandent commented on #561
Excellent news! Can't wait to try it!

[2021-02-05 19:04] denzor200 commented on #660
Let's imagine, that the "Gender" enum was bound by old way with template specialization.
And then, this code will throw build error:
[code]
No panic, just add 'override_specialization' tag:
[code]
How do you think about this?

[2021-02-06 08:31] zhongguo1987 opened #662 "Add Support,Read Open Db"
At present, ORM can only create a new database and does not support operations on existing databases

[2021-02-06 11:09] fnc12 commented on #662
No it work with existing databases as well from the very first commit.

[2021-02-06 11:11] fnc12 commented on #660
That is nice. Or we can just skip `override_specialization` and treat `make_enum` presence as intent to override specialization for this storage and reverse: is there is no `make_enum` then specialization is used.
Also `make_enum` can accept any type not only string. Event `std::nullptr_t`. It will solve nullable enum problem also.

[2021-02-06 12:12] denzor200 opened #663 "insert VS insert_range"
There have some differences between `insert` impl and `insert_range` impl.
1. `insert` checks that each column name isn't a composite column name, but `insert_range` don't.
2. if `columnNames` is empty, then the `DEFAULT` tag will be used instead of list of column names. (only `insert`)

Is it expected?

[2021-02-06 12:14] fnc12 commented on #663
No. Looks like a legacy bug and got to be fixed if it is available

[2021-02-06 15:44] denzor200 commented on #663
Too much copypasting.. Why we just can't collapse `insert` and `insert_range` into shared implementation?

[2021-02-06 15:46] fnc12 commented on #663
We can and we need to do it. It is a legacy code.

[2021-02-06 16:11] denzor200 commented on #663
Ok, i will make PR

[2021-02-06 17:06] fnc12 commented on #663
thank you

[2021-02-06 17:11] fnc12 commented on #662
@zhongguo1987 is the issue actual?

[2021-02-06 19:26] fnc12 commented on #561
@juandent One question: what if API will accept an object instead of id list? The thing is that we foreign key can have reference to any column so we need to know value of any field.

[2021-02-06 19:33] juandent commented on #561
yes and having a variadic list would have the problem of which order was used to pass the primary key's components!
Like in:

[code]
I think your idea is better and safer; pass the whole object... seems ok to me!
Good job! and quick progress...

Regards

[2021-02-06 19:42] juandent commented on #561
Actually this is how I have it in my code, to wit:

[code]
and this is  a special case because the primary key has only one component...

[2021-02-07 01:50] zhongguo1987 commented on #662
Which open the database using **SQLite3_ open**，But this function, according to the official instructions, creates a new one when the database file does not exist, so it is not good to determine whether the specified database file exists at present. Or there is a way to know whether the specified database file exists or not.

[2021-02-07 08:52] fnc12 commented on #662
You can check whether file exists before accessing it with sqlite: https://stackoverflow.com/questions/12774207/fastest-way-to-check-if-a-file-exist-using-standard-c-c11-c

[2021-02-07 11:07] denzor200 opened #664 "Default value for integer primary key"
Is this a bug or is it incorrectly written code by the user?
[code]
I can't imagine who might need this in real code. I reproduced this when I wrote the test.

[2021-02-07 18:48] fnc12 commented on #664
I tried to reproduce it in raw SQLite client:
[code]
Two notes:
1) this is how `DEFAULT` works in SQLite
2) `storage_t::insert` returns `last_insert_rowid` no matter what happened before.

It does not look like a bug cause raw SQLite works the same way. If someone faces such an issue then he/she must know what is he/she doing.

[2021-02-07 20:01] denzor200 commented on #664
Ok. No answers.

[2021-02-07 20:01] #664 closed

[2021-02-08 22:31] juandent opened #665 "'serializator' uses undefined struct 'sqlite_orm::internal::statement_serializator<T,void>'"
I started a new application and am getting this error....

My storage code is:

[code]

and my persistent structs are:

[code]

What could be going on?

I am using Visual C++ 19 with version 16.8.4 and language at  /std:c++latest

(But I also tried with /std:c++17 with same errors)...

[2021-02-08 23:16] juandent commented on #665
I have a standalone console application that demonstrates the issue... It follows:

[code]

This has NO dependencies on other libraries so it should show the error if you copy/paste it into a console app.

Thanks in advance!!

[2021-02-09 00:20] juandent commented on #665
I found the problem!! -- Rather the solution!! I made a syntax error:

[code]

should be

[code]

Sorry ---

[2021-02-09 00:20] #665 closed

[2021-02-09 07:01] fnc12 commented on #665
I shall think how to add static assert for this case to make error more informative

[2021-02-09 12:51] fnc12 commented on #662
@zhongguo1987 is the issue actual?

[2021-02-13 22:33] Overlordff commented on #653
@fnc12, how should we implement "moved out" state? We can make it valid to call member functions such as `is_opened()` or `filename()` or make it UB when calling these functions (because `connection` unique pointer will be `nullptr`). For example:
[code]
If we want not to make it UB, we should allocate new `connection` in `storage1` (allocation in move constructor 😿). With that allocation I think

[2021-02-13 22:41] Overlordff commented on #653
In the case of the factory function (I think it is most of the cases) the problem with UB will not be terrible, because the moved out storage will be destroyed immediately.

[2021-02-14 06:50] fnc12 commented on #653
We can skip UB cause when we move `std::string` empty string stays left. So calling `filename()` must return empty string. connection got to be opened in memory cause filename is empty. This way we shall make a correct moving logic cause after moving state of object must be unspecified just like it was created with default constructor. Of course storage cannot be constructed by default but empty f

[2021-02-14 12:23] #663 closed

[2021-02-18 01:53] zhongguo1987 commented on #662
Then close it

[2021-02-18 03:51] #662 closed

[2021-02-18 13:04] juandent opened #668 "Creating a multi condition where clause"
Hi,

I am stuck. I have 3 different optionales conditions to be included in a where clause, they are filter by doctor and/or filter by patient and/or filter by date depending which are currently selected values (i.e. if there is a doctor selected  in a combobox or a patient selected in a combobox...). A non compiling sample follows:

[code]

could using NULL help in this case? what is the result

[2021-02-18 13:12] fnc12 commented on #668
You can always know by opening any SQLite editor (`sqlite` shell in unix shell or GUI editor like https://sqliteman.dev). Adding `NULL` into condition will make it always false. Just try to call `SELECT 1` -> you will get `1`, try `SELECT 1 WHERE NULL` -> you will get 0 rows.

If you want to have optional conditions use bool flags. The same issue you have already created before amigo https://githu

[2021-02-18 18:15] juandent commented on #668
Got it!!!! Of course!

Thanks...   how is the other issue coming along?

[2021-02-18 18:15] #668 closed

[2021-02-19 03:05] fnc12 commented on #668
I am sorry I did not write new code for foreign key issue. I shall do it in a week.

[2021-02-22 06:51] fnc12 commented on #578
I finally got an idea how to implement this feature with all static checks.
[code]
`attachedStorage` is a reference to `storage1` with attached context. Why so complex? Cause `sqlite_orm` needs schema of the second storage to make static checks. `attachedStorage` will have the same API as `storage1` has.

[2021-02-24 00:21] cponcedeleon opened #669 "Release build not working."
Can someone tell me why this code works on debug mode but not release mode?

[code]
variables_struct.h:
[code]
Building on release mode throws:

[code]

Also, it seems that reducing the number of columns in the table makes the issue go away in release mode. Is there a limit for columns?

[2021-02-24 00:24] andrei-datcu opened #670 "Avoid extra copies by specifying values per column at insertion time"
Given the following model
[code]

how can I avoid an extra copy when I have the blob data stored as a `std::span` (or even as an `std::string`) and I don't want to create a `BigFatModel` instance just for the sake of db insertion? So, I know I can do this

[code]

is there any possibility to do something like this

[code]
?

[2021-02-24 03:38] fnc12 commented on #669
What compiler do you use? GCC or clang?

[2021-02-24 03:41] fnc12 commented on #670
You can replace `std::vector<char>` with other type and add bindings to tell `sqlite_orm` how to insert and select this type. E.g. `std::span` or whatever. [Enum binding example](https://github.com/fnc12/sqlite_orm/blob/master/examples/enum_binding.cpp) shows exactly what I am talking about. The same way people use to allow `sqlite_orm` work with `QString` also

[2021-02-24 04:17] cponcedeleon commented on #669
GCC.

El 23 feb 2021 20:38, Yevgeniy Zakharov <notifications@github.com> escribió:

What compiler do you use? GCC or clang?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/fnc12/sqlite_orm/issues/669#issuecomment-784728280>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AG3N25RSX3QQSN4FV3ZPXULTARYDXANC

[2021-02-24 04:18] fnc12 commented on #669
try clang. GCC can handle many template recursion loops very badly. You are not the first who faces such a problem with gcc.

[2021-02-24 22:56] cponcedeleon commented on #669
Seems like switching to CLang fixed the issue. Thanks for the hint.

[2021-02-24 22:56] #669 closed

[2021-02-26 08:52] ArpadBalika opened #671 "Assemble prepared statement from parts?"
Is it possible to?...

I would like to mimic the following thing in sqlite_orm:
I have a "base" query string something like this:
    SELECT %s
    cols...
    FROM Table
    INNER JOIN Something AS Alias ON ... = ...
    %s %s
    ORDER BY time DESC

3 placeholders get changed dynamically:
1.: LIMIT somenumber or no limit at all based on user decision
2.: WHERE (if the user decides to query witho

[2021-02-26 13:11] fnc12 commented on #671
Actually prepared statement has only one constant string query value in raw SQLite. Just try it without `sqlite_orm` to see that it is true. Preparation of statement is a compilation process performed by SQLite engine and initial query value cannot be altered. All you can do is to make a cute query with maximum cases and bind bool flags to make some conditions on or off. Same thing was described h

[2021-02-26 14:51] ArpadBalika commented on #671
First of all, I am grateful for your work!

I have 3 things that can change in the query.
1.: LIMIT: this is no longer an issue, because you said it is cheap.
2.: WHERE part1: table.colX BETWEEN datetimeTEXT1 AND datetimeTEXT2
3.: WHERE part2: table.colY IN {vector of int values}
relation between the two parts of the WHERE is constant AND.

Another question emerged while I have been fooling around

[2021-02-26 23:19] juandent opened #672 "get<>(where(...)) is not compiling for me - probably a syntax isssue"
Please help I am stuck!!

I have the following line which does not compile

[code]

compiler errors are:

error C2039: 'bind': is not a member of 'sqlite_orm::statement_binder<field_type,void>'
error C2039: '__this': is not a member of 'sqlite_orm::statement_binder<field_type,void>'

What am I doing wrong?

Regards
Juan

[2021-02-27 06:04] fnc12 commented on #672
You are using API incorrectly. `storage.get` function expects id(s) as arguments like:
[code]
If you want to use `WHERE` condition please use `storage.get_all` function instead:
[code]

[2021-02-27 06:14] fnc12 commented on #671
Thank you. I am glad this project fits you.

[code]
looks correctly. Just try it.

Just write inner joins as is using `inner_join` function. API is built to be very clear: `inner_join` function accepts type as a table to join and `on` condition as argument. You can place several different joins one by one just like you do in SQL. All argument you pass in `select` and `get_all` functions are serial

[2021-02-27 14:16] juandent commented on #672
thanks!!

[2021-02-27 14:16] #672 closed

[2021-02-27 15:38] juandent opened #673 "sum() forces me to get the value of the sum by reference making my text formatting unoperable"
I have

[code]
To present the value in a grid I use this code:

[code]

where z is the vector of tuples...

Errors:
'Util::to_cstring': none of the 9 overloads could convert all the argument types

what type is returned by std::get<Col>(z[row]);? where Col refers to the sum column of the query?

[2021-02-27 20:15] juandent commented on #673
A simplified code:

[code]

what overloads must I administer to Util::to_cstring?

[2021-02-28 03:23] fnc12 commented on #673
looks like you don't know the type returned. You always get print it out using `std::cout << typeid(ValueType).name() << std::endl;`. Spoiler: `sum` returns `std::unique_ptr<double>` instead of raw `double> cause `SUM` can return `NULL`

[2021-02-28 16:41] fnc12 commented on #673
@juandent is the issue actual?

[2021-02-28 16:43] fnc12 commented on #673
@juandent offtop: what project you use `sqlite_orm` for? I'd like to know if it is not a secret. I want to make a list of projects in library description who uses this lib. Gracias.

[2021-03-01 10:21] ArpadBalika commented on #671
Many thanks!
Everything works like a charm, except the inner join supplemented with alias.
I cannot get my head around it, how to make this happen in sqlite_orm.
Example query containing only the questionable parts:
`SELECT
    SiteSource.HostName AS SourceHostName,
    SiteTarget.HostName AS TargetHostName,
FROM ...
INNER JOIN
	Site AS SiteSource ON Actions.SourceHostNo = SiteSource.HostNo
INNER

[2021-03-01 10:42] fnc12 commented on #671
@ArpadBalika please provide struct declaration and `make_storage` call to let me understand your schema. Thanks

[2021-03-01 13:49] ArpadBalika commented on #671
Finally I managed to get it done by studying the self_join.cpp and the custom_aliases.cpp examples.
In case somebody else is in my shoes and wondering how to do it:

I made some custom alias structs:
`
struct SourceHostName : sqlite_orm::alias_tag
{
	static const std::string &get()
	{
		static const std::string res = "SourceHostName";
		return res;
	}
};

struct TargetHostName : sqlite_orm::alias_

[2021-03-02 20:46] juandent commented on #673
my project has to do with supplying a connecting layer between two incompatible systems but I am very much stuck!

Maybe you can throw some light, I would appreciate it immensely.

I have a grid displayer template class that works with joined selects really well and displays the rows in a grid. However, now that I want to use sum() its behavior has become useless. The compiler complains that  ther

[2021-03-03 00:59] juandent commented on #673
I solved it!!
Thanks anyway!!

[2021-03-03 00:59] #673 closed

[2021-03-03 03:03] fnc12 commented on #673
@juandent replace `sum` with `total`

[2021-03-03 12:52] spiritEcosse opened #674 "Error std::bad_alloc"
Good day,  tell me please, maybe I didn't understand something.

I need to have or
```std::vector<std::shared_ptr<GroupModules>> m_objects;```
or
```std::vector<GroupModules> m_objects;```

i did so :
[code]

and simply :
[code]

in both cases i get one error :
terminate called after throwing an instance of 'std::bad_alloc'
what():  std::bad_alloc

[2021-03-03 12:58] fnc12 commented on #674
it is very strange. Also you can use `storage.get_all<GroupModules>()` to get a vector of `GroupModules`

[2021-03-03 13:02] spiritEcosse commented on #674
Yes, I did that, the same mistake. Yes, interestingly, all tests on my computer pass this way and that, but when I run it on my phone, I catch it

[2021-03-03 13:04] fnc12 commented on #674
please show me the whole code with `get_all` which crashes on your phone

[2021-03-03 13:11] spiritEcosse commented on #674
[code]

[2021-03-03 13:19] fnc12 commented on #674
which line crashes? `m_objects = m_db->storage->get_all<GroupModules>();`?

[2021-03-03 13:22] spiritEcosse commented on #674
yes , it is she

[2021-03-03 13:24] fnc12 commented on #674
what stack trace?

[2021-03-03 13:26] spiritEcosse commented on #674
[code]

[2021-03-03 13:49] spiritEcosse commented on #674
![image](https://user-images.githubusercontent.com/13799508/109815204-0c38e480-7c38-11eb-9338-576a2282c9df.png)

[2021-03-03 14:48] spiritEcosse commented on #674
can I provide any other information?

[2021-03-04 06:41] fnc12 commented on #674
looks like that crash is caused by calling `m_db->count();` not `storage.get_all`.

[2021-03-04 06:42] fnc12 commented on #671
@ArpadBalika good work! Is the issue actual?

[2021-03-04 07:31] spiritEcosse commented on #674
and without it the same error

[2021-03-04 07:34] spiritEcosse commented on #674
it seems an error in my code, give me time, I will write

[2021-03-04 07:56] ArpadBalika commented on #671
Thanks, everything is fine now, I am closing it. Have a nice day!

[2021-03-04 07:56] #671 closed

[2021-03-04 17:52] acidtonic commented on #538
I don't mean to reopen, but I hit this issue and was rather perplexed by what exactly is going on with this.

Any chance you can explain what C++ rule requires this dance?

I spent some time tracking down the compile error after templating out my storage class in a similar but different way. The storage class was intact enough to complain if I call the wrong method with it's type, but not a primar

[2021-03-05 03:03] fnc12 commented on #538
Quick explanation is: when you call template member function from template variable then you need to tell your compiler that these are two layers of templates. AFAIK this will be not necessary in C++20. More details here https://stackoverflow.com/questions/610245/where-and-why-do-i-have-to-put-the-template-and-typename-keywords

[2021-03-05 10:04] ArpadBalika opened #675 "Binding prepared statement parameters after in operator"
This is the critical part of a prepared statement I am working with:
[code]

preparedStatement.sql():
[code]

Issue: binding the parameters before the in operator works fine, but I cannot get past the first IN param, but I would like to rebound the rest of the IN params and the LIMIT prameter too.
I tried using std::vector, std::array, std::tuple in the IN statement (My theory was: using container

[2021-03-05 14:27] fnc12 commented on #653
@Overlordff is the issue actual?

[2021-03-05 14:27] fnc12 commented on #647
@denzor200 is the issue actual?

[2021-03-05 14:28] fnc12 commented on #675
This is a bug. And you're right about size known at compile time. BTW this bug exists https://github.com/fnc12/sqlite_orm/issues/512. I am going to fix it soon

[2021-03-05 14:32] Overlordff commented on #653
Yes, I have done some improvements and gonna make pull request in weekends or next week.

[2021-03-07 08:08] spiritEcosse commented on #674
strange, but effective it was to replace
[code]

[code]

[2021-03-07 14:37] denzor200 opened #676 "The API with non-throwing overload"
What if we extend **_sqlite_orm_** API, by simply adding "**The non-throwing overload**" for each public method? Just like `std::filesystem` API, for example:
[code]
Advantages:
1. It will help us to resolve the issue https://github.com/fnc12/sqlite_orm/issues/647
2. This will favorably affect the entry of new users. Not everyone uses exceptions, unfortunately. Not everyone needs an exception.

[2021-03-07 14:39] denzor200 commented on #647
We will return to discussing this issue as soon as https://github.com/fnc12/sqlite_orm/issues/676 is resolved.

[2021-03-07 16:02] fnc12 commented on #674
Nice. Is the issue actual?

[2021-03-07 16:15] spiritEcosse commented on #674
no, thanks

[2021-03-07 16:18] fnc12 commented on #676
Yes I understand. One human before wanted to use this lib but was unable to do this cause of exceptions: their project was compiled without exceptions at all. Your examples look nice but how would you improve `get` API and any other API that has variadic amount of arguments?
There are two reasons why non exceptions API is not implemented in this lib:

1. Making ORM's is a complex task. `insert` fu

[2021-03-07 16:19] #674 closed

[2021-03-10 01:31] ddkddown opened #677 "Does this support for mysql?"
Does this support for mysql?

[2021-03-10 02:36] fnc12 commented on #677
no.

[2021-03-12 10:34] markbeep opened #679 "Move settings to SQL"

[2021-03-12 10:35] #679 closed

[2021-03-13 15:08] #677 closed

[2021-03-13 15:09] fnc12 commented on #676
@denzor200 is the issue actual?

[2021-03-16 04:04] bitTalk1 opened #682 "how to add Null Set in update_all ?"
Is there NullUpdate type accpeted by  set ?

bool bSetsalary=false;
db.update_all(   set(
                     c(&Employee::address) = "Texas",
                    bSetsalary ? c(&Employee::salary) = 20000.00 : NullUpdate
                     ),
                     where(c(&Employee::age) < 30));

[2021-03-16 04:47] fnc12 commented on #682
you can pass `nullptr` or `std::nullopt` and it will serialized to query as `NULL`

[2021-03-16 09:23] bitTalk1 commented on #682
Is there any example in source code ?

[2021-03-16 09:25] fnc12 commented on #682
https://github.com/fnc12/sqlite_orm/blob/dev/tests/tests4.cpp#L163

[2021-03-17 08:28] ArpadBalika opened #683 "Subquery within FROM clause"
Hi!
I would like to ask how to make a query where I nest a subquery within the FROM clause.
For example:
[code]
My goal is to create a subquery in the FROM clause of the "outer" query and give an alias name to this subquery to reference it's columns. I found example with WHERE clause only. Thanks!

[2021-03-17 09:02] fnc12 commented on #683
Hi. Unfortunately it is not implemented right now. It exists in [todo list](https://github.com/fnc12/sqlite_orm/blob/master/TODO.md) as `explicit FROM for subqueries in FROM argument`

[2021-03-17 13:22] ArpadBalika commented on #683
Understandable, thanks for reply.
Could you help me make an equivalent query that can be implemented in sqlite_orm?
Here is the original:

[code]

[2021-03-17 13:47] fnc12 commented on #683
this query cannot be implemented right now cause of lacking explicit `FROM` feature. But all other features like `INNER JOIN` and aliases are available. FO if you simplify the query to avoid explicit `FROM` then you will be able to implement such a query.

[2021-03-17 18:47] #676 closed

[2021-03-18 03:57] fnc12 commented on #682
is it clear?

[2021-03-18 15:16] ArpadBalika commented on #683
Success, thanks!

[2021-03-18 15:16] #683 closed

[2021-03-19 00:14] bitTalk1 commented on #682
thanks.
done it.

[2021-03-19 00:14] #682 closed

[2021-03-19 08:35] andrei-datcu commented on #670
I ended up making my own special container, using it in `BigFatModel` and binding it per your suggestion. Having `std::span` directly in the model was not an option because somebody has to own the data.

[2021-03-19 08:35] #670 closed

[2021-03-19 12:53] juandent commented on #561
Hi!! Any progress done lately?

Cheers!

[2021-03-19 12:58] fnc12 commented on #561
hey @juandent . I am sorry for getting too late. Actually I was stuck on my primary job and issue is not so easy as I told before. Anyway I shall return to it this week. Thanks for your patience amigo.

[2021-03-19 13:05] juandent commented on #561
No problems!! Thank you I shall wait

[2021-03-19 13:32] alexprogrammr commented on #242
@fnc12 Hi! Thank you a lot for this awesome library!

I'm also very interested in `INSERT ON CONFLICT UPDATE` functionality. What can I do from my side to make this feature available as soon as possible? I see that you wrote that you are currently working on that. Do you still need more examples for it?

[2021-03-19 16:33] fnc12 commented on #242
@alexprogrammr more examples would be great

[2021-03-19 17:03] juandent opened #684 "How can I concatenate 2 columns in a select query?"
Something like
[code]

Is it as simple as doing the concatenating with + ?

Thanks!

[2021-03-19 21:12] alexprogrammr commented on #242
Raw SQL query could look like this:
[code]

The second call to `INSERT` will simply update listed fields without raising a `constraint failed` error.

[2021-03-20 03:41] fnc12 commented on #684
yes you can. Concatenation can be done using `||` operator. Try `storage.select(conc(&Class::field1, &Class&&field2))`

[2021-03-20 16:11] juandent commented on #684
[code]
Works but I need a string constant en between the columns, something like:

[code]

[2021-03-20 17:15] fnc12 commented on #684
[code]

[2021-03-20 17:35] fnc12 commented on #242
@alexprogrammr thank you. I am not working on this issue right now. Right now I am working on this issue https://github.com/fnc12/sqlite_orm/issues/561. You can inspect which issue I work on using `in progress` label. Also you can make it by yourself with a PR into `dev` branch

[2021-03-21 11:10] alexprogrammr commented on #242
@fnc12 if you don't mind, I will add this functionality in the nearest future.

[2021-03-21 20:50] gbittoun commented on #306
Hello,

I’d also like to be able to read a view… Read only is enough for me today. is there already a way for doing so ? (There doesn’t seem to be any buy I ask just in case :) ). I tried with a `make_table` method but obviously, it didn’t work.

Thanks,
PS: this tool is great ! \o/

[2021-03-22 03:02] fnc12 commented on #306
Hello. Views feature is not implemented right now unfortunately. It exists in [TODO list](https://github.com/fnc12/sqlite_orm/blob/master/TODO.md). You can implement it by yourself or wait until I or anyone else implement it.

[2021-03-22 03:02] onsunsl opened #686 "can't work with visual studio2013 update5"
[code]

[2021-03-22 03:04] fnc12 commented on #686
did you enabled C++14? also I am not sure that vs2013 has full C++14 support

[2021-03-22 08:14] onsunsl commented on #686
I will have try enable c++ 14
wait a moument.

[2021-03-22 08:22] onsunsl commented on #686
Also can't work with enbale c++14
[code]

[2021-03-22 08:23] onsunsl commented on #686
The Qt Creator `.por` file：
[code]

[2021-03-22 08:40] fnc12 commented on #686
I doubt that vs2013 has full C++14 support. Try vs2015 or later

[2021-03-22 09:02] onsunsl commented on #686
Our project dependent vs2013.

[2021-03-22 09:09] fnc12 commented on #686
please consider this https://devblogs.microsoft.com/cppblog/c1114-core-language-features-in-vs-2013-and-the-nov-2013-ctp/ and this https://docs.microsoft.com/en-us/cpp/overview/visual-cpp-language-conformance?view=msvc-160 . Looks like not all C++14 features are supported in vs2013. `sqlite_orm` works with compilers that support C++14 so you need to update vs version

[2021-03-22 16:23] ArpadBalika opened #687 "sync_schema_simulate with indexed column compile time error"
I have a database schema that works just fine if I call sync_schema() on it, but if I try to call sync_schema_simulate() it gives compile time error.
I temporarily removed the indexes from the schema then it compiled, however I need my indexes so this is not a solution.
I have a couple of make_unique_index() and make_index() calls before the make_table() calls in my make_storage() statement.

Erro

[2021-03-22 16:35] juandent commented on #684
thanks!!!

[2021-03-22 16:35] #684 closed

[2021-03-22 17:37] fnc12 commented on #687
@ArpadBalika give me the simplest example please

[2021-03-23 08:20] ArpadBalika commented on #687
[code]

[2021-03-23 09:12] fnc12 commented on #687
@ArpadBalika thanks. Let me check it today a little bit later. Then I'll respond.

[2021-03-23 10:12] onsunsl commented on #686
"Looks like not all C++14 features are supported in vs2013"  Yes I think so

so we will use other orm lib.

thanks all the same.

[2021-03-23 11:16] #686 closed

[2021-03-24 13:21] fnc12 commented on #687
fix is on its' way https://github.com/fnc12/sqlite_orm/pull/688 . Will be merged once unit tests execution is over

[2021-03-25 14:19] fnc12 commented on #687
@ArpadBalika merged. Please check out `dev` branch

[2021-03-26 09:34] ArpadBalika commented on #687
I tested it like this:
[code]
It works now on my complex schema with many indexes and tables, thanks!

[2021-03-26 09:34] #687 closed

[2021-03-26 18:45] spiritEcosse opened #689 "is not the same : cannot make storage with storage_t"
good time of day, I would like to use this approach "Slow & size effective" to create a storage and I would like to take data exactly from the method (&GroupModules::getLanguageName, &GroupModules::setLanguageName)
i have this code
[code]

but I get an error on this line
[code]

though I'm not sure if I was not mistaken
[code]

help, please

[2021-03-27 03:59] fnc12 commented on #689
column with setter and getter has a type like this:
[code]
try it. Also you can check equality line by line the same way you check storage equality.

[2021-03-27 07:21] spiritEcosse commented on #689
i replaced this line
[code]
on this
[code]
but i got the same error, at this place
[code]

probably swears at this line, can i replace it with
[code]
?

[2021-03-28 17:59] spiritEcosse opened #691 "Multiple like is possible ?"
Good time of day.
I need to do a search on multiple fields, is this possible?

I like something like
[code]
but this not work.

[2021-03-28 18:41] fnc12 commented on #691
it must work. Please check `dev` branch. I think it was already fixed a while ago

[2021-03-29 08:54] spiritEcosse commented on #691
yes , i cheked branch dev, and i am getting this error:
[code]

[2021-03-30 04:05] fnc12 commented on #691
looks like a bug. Let me check it

[2021-03-30 04:07] fnc12 commented on #689
No.

Replace a column with setter and getter with this
[code]

[2021-03-30 07:49] spiritEcosse commented on #691
strange but it helped -

[code]

[2021-03-30 14:51] anauta00 commented on #150
Hi,
I switched to the 'dev' branch to try this.
But I cannot work out how to use this new JSON1 functionality.

Here is part of my code:
	`auto storage = make_storage("test.sqlite",
		make_table("targdef",
			make_column("id", &tTargetDef::dbi, primary_key()),
			make_column("tval", &tTargetDef::tv),
			make_column("con", &tTargetDef::con)));`

Here 'id', and 'tval' are defined as 'int' in the tTa

[2021-03-30 14:58] fnc12 commented on #150
vector of doubles does not make serialization out of box cause `sqlite_orm` does not know which serialization type you want to use. `sqlite_orm` is designed to map string fields to text columns. If your text is a cute text with encoded json/xml/yaml then you need to do some extra magic. There are two ways to accomplish what you want:
1) just make a string field then encode/decode it right after/be

[2021-03-31 09:23] fnc12 commented on #691
nice. You can replace `using namespace sqlite_orm;` with `using sqlite_orm::operator||;`

[2021-03-31 09:27] spiritEcosse commented on #691
ok, thanks

[2021-03-31 09:27] #691 closed

[2021-03-31 09:30] spiritEcosse commented on #689
thanks for the help, something does not work, I will return to "Quick & binary fat" - this work very well

[2021-03-31 09:32] fnc12 commented on #689
ok if you say so. Anyway there is another cute [issue](https://github.com/fnc12/sqlite_orm/issues/450) and I develop this feature but very slowly. Writing storage type explicitly is a very boring action and can be done automatically. So subscribe on this issue to received some news.

[2021-03-31 09:32] #689 closed

[2021-03-31 09:35] spiritEcosse commented on #689
thanks a lot

[2021-03-31 12:41] krish-2214 opened #692 "Support for INSERT with EXISTS."
Does sqlite_orm support SELECT with NOT EXISTS ? For example I have below working sql query. How can I perform the same in sqlite_orm?

INSERT INTO memos(id,text)
SELECT 5, 'text to insert'
WHERE NOT EXISTS(SELECT 1 FROM memos WHERE id = 5 AND text = 'text to insert');

[2021-03-31 13:02] fnc12 commented on #692
`sqlite_orm` does support `SELECT with NOT EXISTS` but it does not support `INSERT` with `SELECT` yet. You can write this:
[code]
but `insert` can be done only without `SELECT`. This feature is to be done.
I'll add it to [TODO list](https://github.com/fnc12/sqlite_orm/blob/dev/TODO.md) if you don't mind.

Currently you can split this query in two queries: `SELECT` and `INSERT` if you want to use `

[2021-04-03 14:43] spiritEcosse opened #694 "insert_range save std::vector<std::unique_ptr<T>>"
Good day, i have data such type
[code]

i guess that i cannot use function storage->insert_range ? I thought about writing overloaded operator which returns * std :: unique_ptr it is make sense ?

[2021-04-03 15:19] fnc12 commented on #694
Good day. One can make an overload for `insert_range` no problem. Will you make a PR or I need to make it?

[2021-04-03 16:00] spiritEcosse commented on #694
I would be only glad, however in my project cmake max 3.11, and in master sqlite_orm min 3.16

[2021-04-03 17:35] fnc12 commented on #694
I think it would be better to add a universal overload which will accept two iterators and transformer object just like std::transform does. This will allow to call insert_range with any container type: std::optional or whatever

[2021-04-03 18:28] spiritEcosse commented on #694
yes, it sounds good

[2021-04-06 15:48] fnc12 commented on #675
the fix is on its way https://github.com/fnc12/sqlite_orm/pull/695

[2021-04-06 15:48] fnc12 commented on #512
the fix is on its way https://github.com/fnc12/sqlite_orm/pull/695

[2021-04-06 17:59] fnc12 commented on #675
@ArpadBalika please check out fresh `dev` branch

[2021-04-06 18:00] fnc12 commented on #512
@jakemumu please check out `dev` branch. Now you can use static `in` like this:
[code]
please note `c(&MKUTagMeta::name).in(tags_string)` instead of `in(&MKUTagMeta::name, {tags_string})`

[2021-04-06 18:03] fnc12 commented on #675
@ArpadBalika please use
[code]

[2021-04-07 07:34] ArpadBalika commented on #675
Just a note for anyone copying my snippet: After writing that snippet I realized it does not work as intended, because I used AND to connect the flag and the the stuff that needs to be turned on/off based on the flag. To work properly it needs OR connection.

Thanks for the work you put in this lib!

[2021-04-07 07:34] #675 closed

[2021-04-07 07:51] fnc12 commented on #512
closing cause it is fixed. Please feel free to reopen this if something is wront

[2021-04-07 07:51] #512 closed

[2021-04-10 17:39] andrei-datcu opened #697 "sqlite_orm::statement_binder<T>::extract(const char*) should be internal only"
If I'm reading the code correctly, these functions are only used to extract values from `sqlite3_exec` calls (which internally calls sqlite3_column_text). Currently, these are only used to retrieve values in pragma calls and all values are either `int` or `bool`.

Writing an `extract(const char*)` overload should not be mandatory for other types and **is not even possible** for some. Take for inst

[2021-04-10 18:00] fnc12 commented on #697
great idea. I have added this initially cause it was used widely. Not it is redundant and incorrect in blob's case - you are right. Thanks for advice. I'll fix it. Or you can do it by yourself

[2021-04-10 18:02] fnc12 commented on #594
@undisputed-seraphim is this issue actual?

[2021-04-16 00:58] arc-xyz opened #699 "exception happens when run union example."
I built union.cpp on mac and tried to run the executable file and got the following exceptions:
libc++abi.dylib: terminating with uncaught exception of type std::__1::system_error: near "FROM": syntax error: SQL logic error

the union.cpp code are as below:
[code]

[2021-04-16 03:28] fnc12 commented on #699
@arc-xyz thank you. Let me check it and I'll write you back.

[2021-04-16 04:24] fnc12 commented on #694
API will be like this:
[code]
and prepared statement:
[code]
is it ok?

[2021-04-16 12:14] spiritEcosse commented on #694
yes, it sounds good

[2021-04-17 17:57] fnc12 commented on #694
@spiritEcosse Pr is on its' way https://github.com/fnc12/sqlite_orm/pull/700

[2021-04-18 00:32] vcarreira opened #701 "Clang compiler stuck and lots of memory are used when combining -O2 with -g"
I have a table with a considerable number of columns. When compiling in debug (`-O0`) or in release (`-O3`) everything works fine.

However, to be able to generate a dSYM file, I have to turn on debugging symbols (`-g`). Any attempt to combine `-O3` (or any other kind of optimization) with `-g` makes the compiler consume lots of memory and never finish.

Clang version:
[code]

I have attached an e

[2021-04-18 03:49] fnc12 commented on #701
what RAM has your machine and what OS?

[2021-04-18 03:52] fnc12 commented on #694
@spiritEcosse please check out `dev` branch for new API for `insert_range` and `replace_range`

[2021-04-18 07:25] vcarreira commented on #701
MacBook Pro I7 16GB of RAM (macOS Catalina). Tried both Apple Clang compiler (Xcode 12.4) and Clang 11.1.0 installed via homebrew

[2021-04-18 09:05] sl1depengwyn opened #702 "grammatic error"
in condition lesser_or_equal and lesser_than (right: less_or_equall and less_than)
thanks for nice orm

[2021-04-18 10:10] fnc12 commented on #702
I think everything is correct. Lesser is a comparative form of an adjective: less, lesser, the least. Also equal has only one l character

[2021-04-18 14:17] #702 closed

[2021-04-18 17:11] fnc12 commented on #701
let me check it tomorrow

[2021-04-18 17:12] fnc12 commented on #694
@spiritEcosse is it actual?

[2021-04-18 19:46] SuperV1234 opened #703 "Inserting a `std::string` with embedded null terminators results in data loss"
Consider a storage like this one:

[code]

If I have a user like this:

[code]

Where `hash` is a `std::string` containing an embedded byte with value `0` (e.g. `8 21 -5 -36 -120 10 -99 53 74 -105 0 -68 108 127 -84 -122 8`)

And then insert it:

[code]

Then the data in the string after the embedded null terminator will be lost. Only the `8 21 -5 -36 -120 10 -99 53 74 -105` bytes will be placed in

[2021-04-19 03:43] fnc12 commented on #703
`std::string` is not designed for this. Actually you can store a null terminator in the middle of `std::string` due to bug in `std::string`. Replace `std::string` with correct blob class, bind it to `sqlite_orm` just like in `enum` examples and everything will work fine

[2021-04-19 06:21] spiritEcosse commented on #694
yes, give me time please

[2021-04-22 11:50] fnc12 commented on #694
damn. Looks like that I forgot to add API to storage class. I've added new API only to prepared statement functions.

[2021-04-22 18:12] juandent opened #704 "how can I select a column that states if its content is equal to the value 1?"
[code]

the line 'is_equal' does not compile!

[2021-04-22 22:22] juandent opened #705 "How to write a simple select in sqlite_orm?"
The SQL version is SO SIMPLE:

[code]

I tried this:
[code]

as part of a `storage.select(columns( ....` but it does not compile!!

Please help!!!

[2021-04-22 23:26] juandent commented on #561
any advance on this issue? why did you switch to on hold?

[2021-04-23 02:06] fnc12 commented on #704
what error do you see?

[2021-04-23 02:11] fnc12 commented on #705
looks like we need to add support for this. This is very old and not popular case which is not supported. I'll add it in a few days. Thanks

[2021-04-23 02:12] fnc12 commented on #561
I switched to on hold cause I did not have enough time. I'll fix it soon. Sorry for waiting

[2021-04-23 12:49] juandent commented on #705
great news!!

[2021-04-23 13:29] NewYaroslav opened #707 "How to use in multi-threaded mode?"
Hey! I am unable to use the library in multi-threaded mode

After creating the database, I do the following methods
[code]
A separate stream periodically records:
[code]

The main thread is trying to read data
[code]

This causes the program to crash.

If you add a mutex to the code to eliminate the possibility of simultaneous reading and writing, then it will be impossible to read after writing.

[2021-04-23 13:35] NewYaroslav commented on #707
I tried with all the options SQLITE_THREADSAFE (0,1,2)

[2021-04-23 13:45] fnc12 commented on #707
`sqlite_orm` does nothing about multithreading. If you have multithreaded issues using `sqlite_orm` then you'd have the same issues if you use raw libsqlite3 library. To eliminate this issue just google how to use libsqlite3 in multithreaded environment and use `sqlite_orm` as is. `sqlite_orm` is just a frontend for SQLite3: it does not manage threads or data for you. It just takes AST you provide

[2021-04-23 18:10] NewYaroslav commented on #707
I don't know how your library works internally. Here is what I found while looking for why reads are blocked while writing in WAL mode:
https://web-answers.ru/c/bd-sqlite-s-wal-zablokirovana-pri-podgotovke-quot.html
https://stackoverflow.com/questions/1680249/how-to-use-sqlite-in-a-multi-threaded-application

[2021-04-23 19:15] fnc12 commented on #694
@spiritEcosse I've updated `dev`. I have added more unit tests, found and fixed a bug and added `storage.insert_range<T>` and `storage.replace_range<T>` functions. Please check it out

[2021-04-23 21:38] vcarreira commented on #701
Any update regarding this issue? The same behavior can be observed on BigSur/Catalina, MacBookPro/Mac mini, either with Apple Clang 12 or Clang 11.1.0 installed with homebrew

[2021-04-24 05:15] fnc12 commented on #704
please check out `dev` branch

[2021-04-24 05:40] fnc12 commented on #705
@juandent please check out `dev` branch

[2021-04-24 05:42] fnc12 commented on #703
@SuperV1234 is the issue actual?

[2021-04-24 05:43] fnc12 commented on #701
@vcarreira sorry I was busy with another issue. I'll check it today

[2021-04-24 06:51] fnc12 commented on #701
I've started compilation and looks like my Xcode is stuck also. I leave my mac working and will be back in the evening (now it is morning) in case it needs more time. Will see

[2021-04-24 13:55] juandent commented on #705
Please help as to downloading dev branch.
So far I do

[code]

but I get

C:\Components\dev_sqlite_orm>git checkout dev
fatal: 'dev' could be both a local file and a tracking branch.
Please use -- (and optionally --no-guess) to disambiguate

[2021-04-24 14:47] juandent opened #710 "Please help on downloading dev branch"
Please help as to downloading dev branch.
So far I do

[code]

but I get

C:\Components\dev_sqlite_orm>git checkout dev
fatal: 'dev' could be both a local file and a tracking branch.
Please use -- (and optionally --no-guess) to disambiguate

[2021-04-24 15:36] #710 closed

[2021-04-24 15:37] juandent commented on #705
Downloaded dev branch
Where is the sample code?

[2021-04-24 15:53] juandent opened #711 "Downloaded dev branch - where is the sample code for added support?"
Hi,

What is the sqlite_orm version of

[code]

?

Thanks!!
Juan

[2021-04-24 16:08] fnc12 commented on #701
So I am back and Xcode is still compiling. I can reproduce your issue. BTW if you comment out the latest line:
[code]
and replace it with
[code]
then everything will compile well.

[2021-04-24 16:09] fnc12 commented on #710
run `git checkout origin/dev` instead. This happens for the first time cause `dev` is a folder and `dev` is a branch

[2021-04-24 16:14] fnc12 commented on #705
code is the same you wrote. Case is that this code `storage.select(is_equal(&Invoice::fkey_INSResponse, 1));` led to compile error before. Now it compiles well. Just try it

[2021-04-24 16:18] fnc12 commented on #711
please don't ask the same question three times in three different places. This does not make me or anyone else respoding quicker but increases the mess

[2021-04-24 16:18] #711 closed

[2021-04-24 16:27] juandent commented on #711
I apologize

[2021-04-24 16:28] fnc12 commented on #711
does everything work?

[2021-04-24 16:28] juandent commented on #705
Works like a charm, thank you!!

[2021-04-24 16:31] fnc12 commented on #705
you are welcome

[2021-04-24 16:31] #705 closed

[2021-04-24 16:31] #704 closed

[2021-04-24 17:33] juandent opened #712 "How to write a select within a select in sqlite_orm?"
I have this SQL statement:

[code]

and want to write it in sqlite_orm like so:

[code]

But throws error on compilation:

error C2027: use of undefined type 'sqlite_orm::internal::column_result_t<St,sqlite_orm::internal::inner_join_t<als_c,sqlite_orm::internal::on_t<sqlite_orm::internal::is_equal_t<sqlite_orm::internal::alias_column_t<als_i,int Invoice::* >,sqlite_orm::internal::alias_column_t<al

[2021-04-24 17:39] fnc12 commented on #712
`SELECT count(*) > 0 ` must be transformed to `greater_than(count<Invoice>(), 0)` but you wrote `columns(alias_column<als_s>(&Invoice::id), count())`

[2021-04-24 18:02] juandent commented on #712
yes but it has a WHERE condition:

[code]

how do we attach the where clause to get that count?

[2021-04-24 18:15] juandent commented on #712
Maybe you have a sample select within a select which I can use as help?

[2021-04-24 19:00] vcarreira commented on #701
@fnc12 Yep but that's not the point :) That line triggers the template instantiation for a query. Without that line we just have the storage definition.

It will also compile instantaneously if you modify the columns and replace the field1 to field3 with:
std::optional<std::int64_t> field1;
std::optional<std::int64_t> field2;
std::optional<std::int64_t> field3;

So, my question is what can be done

[2021-04-24 21:17] juandent commented on #712
I am wondering, is there support for selects inside of selects in sqlite_orm?

[2021-04-24 21:32] juandent commented on #712
Am I getting closer with this? Any help will be very appreciated...

[code]

[2021-04-24 21:59] juandent commented on #711
yes everything works

[2021-04-25 00:47] juandent commented on #712
as for the placing questions repeatedly in different issues I was truly desperate for help but I fully understand your point and sincerely say it won't happen again...

[2021-04-25 12:26] fnc12 commented on #712
select inside select is fully supported. Just imagine how would you write you subselect as a distinct select:
[code]
then insert this code right into another query as a column.

[2021-04-25 12:28] fnc12 commented on #707
`sqlite3_reset` is called always when you call any query. What is the reason of your crash?

[2021-04-25 12:32] fnc12 commented on #701
Yeah you're right. I understand. It also works if you reduce the amount of columns by 5 or 6. This looks like a clang issue but I'd like to find a clue. Perfect solution is debugging clang but it is not what I am going to do sorry. I think we can find a quicker and easier way to resolve this. You can move this function call into a different cpp file and compile it separately using -O3 or -O1 and l

[2021-04-25 13:11] fnc12 commented on #699
@arc-xyz I also reproduced it. I need to investigate and fix it. Thanks

[2021-04-25 14:36] vcarreira commented on #701
@fnc12 It’s always an option, although we are going to be kind of “blind” if a crash happens with something related with the database.

The code I posted was just a tiny test to demonstrate the issue. The real code is much more complex and I was hoping for a workaround that would not involve isolating the ORM module. But I understand that you don’t have time to dig into clang deep debug.

Anyway,

[2021-04-25 14:51] fnc12 commented on #701
@vcarreira ok let's find a clue. Just give me some time

[2021-04-27 11:59] camel007 commented on #669
our project use gcc, is there a way disable these optimizations?

[2021-04-27 12:59] fnc12 commented on #669
there are no optimizations. The issue is how GCC handles deep template recursion. Clang handles it well but GCC does not. Try different optimizations like -O1/-O2/-O3

[2021-04-27 16:54] minorsecond opened #713 "`Group By` & aggregating multiple columns"
I am trying to figure out how to run a query like this:

[code]

but I can't seem to figure it out. The SQLite_ORM readme mentions `GROUP BY` being available, but I don't see any examples anywhere. Is the query I'm trying to write possible with this ORM? Is there documentation that I'm missing?

Thanks!

[2021-04-27 19:25] juandent commented on #712
I am struggling with this piece of SQL or rather how it may be written in sqlite_orm
Would appreciate any help!

[code]

[code]

[2021-04-28 01:25] fnc12 commented on #713
use `group_by(&ClassName::weekStart)`

[2021-04-28 08:35] fnc12 commented on #713
@minorsecond did it work?

[2021-04-28 08:36] fnc12 commented on #712
now it must work in `dev` after fix for bool result for binary conditions. Please check it

[2021-04-28 08:36] fnc12 commented on #703
@SuperV1234 is the issue actual?

[2021-04-28 12:16] fnc12 commented on #699
fix is on its way

[2021-04-28 12:32] SuperV1234 commented on #703
I've replaced `std::string` with `std::vector<char>`, and it works. I'm not sure what the correct behavior for `sqlite_orm` should be but that's up to your to decide. Thanks!

[2021-04-28 12:32] #703 closed

[2021-04-28 14:21] fnc12 commented on #703
@SuperV1234 you are welcome. Thanks

[2021-04-28 14:32] minorsecond commented on #713
@fnc12 I tried it, but I get `no member named group_by` error. I used my column `date`, as I haven't yet created `weekStart`.

`auto aggregated_data = storage.group_by(&Drink::date);`

storage is derived from `make_storage`. Is that the correct syntax?

[2021-04-28 14:36] fnc12 commented on #713
what do you mean writing `storage.group_by`? This is incorrect query. If you want to make a select then write select:
[code]

[2021-04-28 14:37] minorsecond commented on #713
Ah, that makes much more sense. Thank you so much for your help!

[2021-04-28 15:05] fnc12 commented on #699
@arc-xyz please check out `dev` branch

[2021-04-28 17:51] juandent opened #715 "what is the sqlite_orm equivalent to ifnull(X,Y) ?"
I have this select: Can it be written in sqlite_orm? In particular how can we deal with ifnull function?

[code]

[2021-04-28 21:34] juandent commented on #715
I found coalesce is the substitution for ifnull. But I at a loss as to how to write this SQL in sqlite_orm... could you give me a hand here?

I have the following code:

[code]

and this:
[code]

where:

[code]

[2021-04-28 21:51] juandent commented on #715
I have this going in the right direction but still need to insert the nested select:

[code]

[code]

??

[2021-04-29 02:20] fnc12 commented on #715
Oh man
[code]
is not supported right now. `left_join<T>` can accept only a template argument which must mean a type mapped to a storage.

Actually I even did not know about this feature in SQLite. I can add it soon. Let's leave this issue opened until it is implemented. It may look like: `left_join(select(...))`.

`IFNULL` also is not implemented but it can be replaced using `COALESCE` as you noti

[2021-04-30 06:05] fnc12 commented on #699
closing cause it is fixed. If something wrong please feel free to reopen it.

[2021-04-30 06:05] #699 closed

[2021-04-30 06:06] fnc12 commented on #712
@juandent is everything ok amigo?

[2021-04-30 06:07] fnc12 commented on #707
@NewYaroslav how do you do? I got one new question: does your SQLite build has `-DTHREADSAFE=1` flag?

[2021-04-30 14:29] juandent commented on #712
not quite amigo ... stilll don't know how to write the sql above.. can you help?

[2021-04-30 16:22] spiritEcosse commented on #694
i got error :
![image](https://user-images.githubusercontent.com/13799508/116724091-e38b5c00-a9e8-11eb-9c1c-f4f0ee0d4bcd.png)

my code
[code]

[2021-04-30 16:24] fnc12 commented on #694
yes. I had it too. It happens cause C++ return value type of your lambda
[code]
as T not `const T &`. I don't know how to make it work correctly by default. Please add explicit return type:
[code]

[2021-04-30 16:32] spiritEcosse commented on #694
yes, its work ,and i checked
[code]

[2021-04-30 16:32] spiritEcosse commented on #694
very cool, thanks

[2021-04-30 16:33] fnc12 commented on #694
@spiritEcosse you are welcome. Thanks for this idea

[2021-04-30 16:33] #694 closed

[2021-04-30 23:57] juandent commented on #712
I wrote the following as an attempt to produce the SQL in the first comment of this issue:

[code]

This produces a hideous result in SQL:

[code]

So I have not yet solved this issue. Can you help please?

[2021-04-30 23:58] juandent commented on #712
Keep in mind that I have this aliases:

[code]

[2021-04-30 23:59] juandent commented on #712
all you need to solve this problem is contained in these 2 later comments above.... you don't need the schema

[2021-05-01 05:51] juandent commented on #712
This is a third attempt that compiles as an attempt to produce the SQL in the first comment of this issue:

[code]

Produces this SQL closer to the goal:

[code]

Can someone help out on this? I am stuck!

[2021-05-01 08:45] fnc12 commented on #712
Here is your original query you want to write:
[code]
Subselect does not contain INNER JOIN. Why did you add it to subselect?

[2021-05-01 23:07] juandent commented on #712
Sorry, forget that INNER JOIN ....

The sqlite_orm is:

[code]

I believe there is a bug in the serialization of the SQL string. See how the first column of the select is from the Claim table and this table appears first in the FROM clause when it really should be Invoice (als_i)...

Here is the generated SQL:

[code]

The first ? will be substituted with 0, and the second with 1.

the embedded se

[2021-05-01 23:32] juandent commented on #712
Forgive me I  posted the incorrect SQL string... indeed there is no INNER JOIN in the subselect. The problem  I keep getting is that the SQL generated for the subselect contains the table Claim which is incorrect. Also, and even worse, the ii.key_claim should be equal to the id_claim of the outer select (i.e. c.id_claim). That should produce a set of invoices belonging to a each particular claim.

[2021-05-02 03:00] fnc12 commented on #712
everything must work out of box. Also I cannot see table `Claim` in subselect in the latest SQL query you posted:
[code]
Please update your SQL string and then I can find what is wrong. Thanks

[2021-05-02 13:33] juandent commented on #712
Are you proposing this last SQL string to be the correct? (the one in your last comment)?

[2021-05-02 14:20] juandent commented on #712
Hi!

I am about to give up (look for another way to do this) but before I do, i want to ask you if you can show me what is wrong with this sqlite_orm query:

[code]

[code]

Please!

[2021-05-02 15:51] fnc12 commented on #712
No. I am posting this to ask you to provide update SQL you expect. I just copypasted SQL from your last comment.

It is clear and not needed to be explained thanks.

I cannot understand. You want to reproduce this SQL query (copy pasting from the first your comment):
[code]
and you write code
[code]
Please pay attention to subselect in SQL:
[code]
and subselect in C++:
[code]

You wrote subselect

[2021-05-02 15:52] juandent commented on #712
Tried this - did not compile:

[code]

Error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	C2027	use of undefined type 'sqlite_orm::internal::column_result_t<St,sqlite_orm::internal::inner_join_t<als_i,sqlite_orm::internal::on_t<sqlite_orm::internal::is_equal_t<sqlite_orm::internal::alias_column_t<als_i,int Invoice::* >,sqlite_orm::internal::alias_column_t<als_c,int Claim::

[2021-05-02 16:00] fnc12 commented on #712
It happens cause you have incorrect parenthesis. You need to recreate it calm and correctly. Also why your SQL query has only one `INNER JOIN` and c++ has two `inner_join`?

Error reason is that the second `inner_join` is written inside `columns(...)` and this is incorrect.

[2021-05-03 04:05] Ashoat opened #716 "clang requires std:: namespace prefix for cstdlib imports"
The latest XCode (12.5) started giving compilation errors at callsites of functions imported from `cstdlib`, eg. `atoi`. It looks like the new version of `clang` expects the `std::` prefix to be prepended from `cstdlib` imports (but not `stdlib` imports).

Here is some background:
1. [Explanation](https://github.com/apple/swift-nio-ssl/issues/259#issuecomment-744623667) of what's going on by anoth

[2021-05-03 06:10] fnc12 commented on #716
@Ashoat I do not get any errors but I use Xcode 12.5. Maybe you can make a PR or tell me exactly what I need to replace and I'll replace them.

[2021-05-03 15:43] juandent commented on #712
From scratch: The desired SQL string is:

[code]

but this cannot be written in sqlite_orm because there is no way to write the nested SQL because it writes the Claims table and makes it a Claims X Invoices 'dynamic' table  --- the generated SQL is

[code]

See why I needed to add an inner_join to the nested select?
But I tried it and it did not work either

[2021-05-03 16:27] Ashoat commented on #716
We were able to simply replace `#include <cstdlib>` with `#include <stdlib.h>` to solve the issue. In our case, we are using this library on iOS and Android, but I don't have enough context to be able to confirm that that's a good solution across all compilation environments that you folks support. That said, based on my understanding of the underlying libraries, I think it should work and is the

[2021-05-03 18:35] fnc12 commented on #712
Ok I see. The reason why generated SQL has `Claims` is that `sqlite_orm` needs to understand what tables must be written in `FROM` section. How it works? Storage iterates all over query (subquery in this case) and collects all tables mentioned. Subselect has `WHERE` section
[code]
with two tables mentioned: `c` and `ii` where `c` is `Claims` and `ii` is `Invoices`. And the bad thing is that this m

[2021-05-03 18:41] fnc12 commented on #716
Please make a PR. I cannot reproduce all cases cause I have limited amount of OSes and machines. Sometimes different people write about some rare corner cases that I never faced and it is ok when these people submit PRs with fixes. PR will be checked using CI service AppVeyor which will run all examples and all unit tests on Windows using different options (C++ std14/17, different VC++ versions).

[2021-05-03 19:26] juandent commented on #712
Beautiful solution!!! A great feature indeed!!!

How long do you think is going to take you to implement?

Thanks!! I knew I couldn't be that dumb!

Regards and praise to keep this library growing!!!

[2021-05-03 19:28] fnc12 commented on #712
@juandent let me start it tomorrow. I must not take long. Thank you for your help.

[2021-05-03 19:46] juandent commented on #712
You are very welcome!!!

[2021-05-03 21:53] Ashoat commented on #716
No problem! PR here: https://github.com/fnc12/sqlite_orm/pull/717

[2021-05-04 02:58] fnc12 commented on #716
merged. Thanks

[2021-05-05 09:36] IvanRibakov opened #718 "Exception in the destructor crashes the application"
[code]

[code]

I'm using `sqlite_orm` `v1.5` in a multi-threaded environment. When doing some load testing application crashes due to exception being thrown inside a destructor as can be seen from the backtrace above.

Is there anything that can be done to prevent the application from crashing in this case?

[2021-05-05 13:04] krish-2214 commented on #692
This helps for now. Thanks

[2021-05-05 13:09] fnc12 commented on #718
try `dev` branch. I know for sure that some memory leak was fixed either in 1.6 or after 1.6 in `dev` branch

[2021-05-05 14:42] #716 closed

[2021-05-06 02:20] fnc12 commented on #701
@vcarreira I cannot find any clue. Looks like we need to debug compiler. Can you make an issue in clang repo? I guess guys there can easily say what is wrong.

[2021-05-09 13:23] fnc12 commented on #715
@juandent `ifnull` is on its way https://github.com/fnc12/sqlite_orm/pull/721. Next I'll add explicit from

[2021-05-10 05:11] fnc12 commented on #715
@juandent `ifnull` is merged. Now you can replace `coalesce` with `ifnull` to make your query more consistent. I'll add explicit from next

[2021-05-10 15:57] fnc12 commented on #715
dev

[2021-05-11 09:22] camel007 commented on #669
-O0 works well

[2021-05-11 12:18] gfzgfz opened #722 "make_column error"
I'm not good at English, but help me.

I'm going to make 50 tables. At least 19 columns per table.

The program died while making the 21st table.
(visual studio 2017, I added the "/bigobj" command to the command line)
![image](https://user-images.githubusercontent.com/27712935/117811931-1a405c80-b29c-11eb-8cc4-d681de1c2f4e.png)

( When creating storage space, I used:

using storage = decltype(init

[2021-05-11 12:25] fnc12 commented on #722
Hi. Please copy and paste the whole error text here

[2021-05-11 12:29] fnc12 commented on #718
@IvanRibakov can you reproduce it in `dev` branch or `master`?

[2021-05-11 12:36] gfzgfz commented on #722
Thanks for the answer. This is a screenshot of the error.

![image](https://user-images.githubusercontent.com/27712935/117815813-d00daa00-b2a0-11eb-89b4-3273fb953aeb.png)

[2021-05-11 13:04] fnc12 commented on #722
yes. Calling the same function enough times will raise stack overflow. Try to reduce amount of tables or split your storage in two or more dedicated storages. Note: several storages can work with the same db if only one storage is writing at the same time.

[2021-05-11 13:16] ShredAstaire opened #723 "[Bug] It seems impossible to chain where clauses in `update_all()`"
This compiles:
[code]

Yet this does not
[code]

On macOS Clang 11

[2021-05-11 13:21] ShredAstaire commented on #723
[code]

[2021-05-11 13:28] ShredAstaire commented on #723
I just noticed that replacing the first `=` condition by `>=` would fix the compilation. There is something fishy going on in the land of template instantiations!

[2021-05-11 13:35] IvanRibakov commented on #718
@fnc12 I haven't had time to try your suggestion yet. I'm working on a project that uses `sqlite_orm` via Conan and modifying current build automation to source `sqlite_orm` from a custom location is going to take more time than I can afford at the moment.

I do expect to be able to get back to this problem soon (by next week latest I hope) so I'd like to keep this issue open for a little while lo

[2021-05-11 13:48] ShredAstaire commented on #723
The README doc mentions the single version for conditions:

So I thought the syntax was single `=`.

---

Anyway, with double `==`, I cannot even get the single clause version to compile:

[code]
Which produces error:

[code]
As you can see from the error, `Fragment::base` is a `std::string` data member.

[2021-05-11 15:17] fnc12 commented on #723
ok. Did you try `is_equal`?

[2021-05-11 15:32] ShredAstaire commented on #723
`is_equal`  does compile when replacing the first `=`, thank you!

Is it not strange that some operators do not work in first position though?

On Tue, May 11, 2021, 17:18 Yevgeniy Zakharov ***@***.***>
wrote:

[2021-05-11 15:41] fnc12 commented on #723
no. Don't touch the first `=` cause it is ok. Replace operators with `is_equal` only inside `where`. `set` function has assign and `where` has comparison. That is why `set` has single `=` and `where` has double. I know that SQL has these operators look the same but we use C++ so I made it in C++ style. You use single `=` inside where cause it is serialized the same way. But assign operator is not

[2021-05-11 15:52] gfzgfz commented on #722
Thanks to you, I solved it.
But I'm curious, If you use mutex in insert function, isn't it possible to write at the same time?
Are you not using it because of performance problems?

[2021-05-11 15:54] fnc12 commented on #722
Great! I don't use mutex inside storage or anywhere inside library. `sqlite_orm` acts like a frontend for SQLite. All multithreading is performed inside SQLite engine not `sqlite_orm`. So the rule I told before about only one writing simultaneously means how SQLite works inside.

[2021-05-11 15:54] #722 closed

[2021-05-12 01:12] gfzgfz commented on #722
You are right. Thank you

[2021-05-12 06:10] NewYaroslav commented on #707
This flag is. I switched to using pure sqlite. It seems to me that your code has an error handling the SQLITE_BUSY event, which sometimes occurs while reading. I haven't gone into the details of your code, but I'm guessing it just throws an exception when an error occurs. For this reason, it is not possible to process SQLITE_BUSY correctly.

For example, how do you implement this in an exception h

[2021-05-12 06:14] NewYaroslav commented on #707
This example does not cause freezes or crashes while reading in multi-threaded mode. How to implement similar logic for working with sqlite in your library?

[code]

[2021-05-12 08:15] ShredAstaire commented on #723
It feels like we are not understanding each other. I will try to give several examples showing why I think there are bugs
(and why I think the `where` clause accept only single `=`, but not double `==`, contrarily to what you wrote above).

----

This code **does** compile, and it does what I expect (only update fragments where `base` is equal to `"C"`):

[code]
Let me insist that this codes uses

[2021-05-12 09:12] fnc12 commented on #707
you can handle busy error using `storage.busy_handler` call. It forwards `sqlite3_busy_handler` call. Probably it can help you. Or you can handle `SQLITE_BUSY` manually catching exception and checking its error code

[2021-05-12 10:15] fnc12 commented on #723
`update_all` with `==` exists in unit tests [here](https://github.com/fnc12/sqlite_orm/blob/master/tests/tests3.cpp#L123) and [here](https://github.com/fnc12/sqlite_orm/blob/master/tests/tests2.cpp#L252). Also exampled folder also contains it [here](https://github.com/fnc12/sqlite_orm/blob/master/examples/foreign_key.cpp#L72) and more in the same file. I understand what you are saying and all I am

[2021-05-12 16:06] juandent commented on #712
Hi @fnc12 !
Any progress?

Regards,
Juan

[2021-05-12 16:31] fnc12 commented on #712
@juandent in progress

[2021-05-13 09:14] gfzgfz opened #724 "copy to MEMORY DB to FILE DB"
I want Memory DB to File DB.

After creating the memory db repository, should I create the same file db repository?
i.e)
[code]
Would this be the best?
because my storage is big.

Thank you.

[2021-05-13 09:53] fnc12 commented on #724
You did right. Next call backup API:
`memoryStor.backup_to(fileStor);`

[2021-05-13 09:57] gfzgfz commented on #724
Thanks for the quick help every time.
Thank you for creating such a good library.

[2021-05-13 13:41] fnc12 commented on #712
@juandent PR is here https://github.com/fnc12/sqlite_orm/pull/725

[2021-05-13 16:13] gfzgfz commented on #724
I confirmed that the backup_to operation puts all the contents in the memory db into the file db.
However, what I want is not to overwrite the file db, but to put it in the file db cumulatively.
Is it possible to use this function?

[2021-05-13 16:17] fnc12 commented on #712
@juandent merged into `dev`. Please check it out

[2021-05-13 16:20] fnc12 commented on #724
oh I understand. You need to attach one database to another and then insert data from the first database to the second. More info https://www.sqlitetutorial.net/sqlite-attach-database/. Unfortunately `ATTACH` feature is not supported right now in `sqlite_orm` but it exists in the [TODO list](https://github.com/fnc12/sqlite_orm/blob/master/TODO.md) and also in issues https://github.com/fnc12/sqlite

[2021-05-13 21:08] juandent commented on #712
Hello @fnc12
Very fast response man!! I have a doubt:

This SQL:

[code]

written in sqlite_orm as:

[code]

is serialized incorrectly as:

[code]
So I am going to have to do the FROM clause for the outer SQL manually. Do you consider this a bug?

[2021-05-13 22:31] juandent commented on #712
I have changed the sqlite_orm code and it produces correct SQL  code (code that runs perfectly in DBBrowser for SQLITE) but that does not run correctly in sqlite_orm. There is a bug in the placeholders. Let me explain fully:

The C++ code is:
[code]

becomes this SQL:
[code]

The bug comes in the placeholders '?' These are not substituted correctly. I end up with every row showing a 1 for the seco

[2021-05-13 23:47] gfzgfz commented on #724
Okay. I appreciate you responding so quickly to my request.

[2021-05-14 02:21] fnc12 commented on #712
@juandent paste diff here or sent it to me to fnc12@me.com

[2021-05-14 23:43] juandent commented on #712
Sent code to fnc12@me.com... please let me know when you receive it

[2021-05-15 08:46] fnc12 commented on #712
@juandent I received your code but I can not understand what is wrong now. You provided SQL and it looks nice cause subselect now has only one table in `FROM` expression not two as it was before:
[code]
What SQL do you expect instead?

[2021-05-15 14:10] juandent commented on #712
The SQL is correct but it is not correctly executed
The placeholders ? Are correctly substituted

The proof is we have two claims one with one invoice with fkey_INSResponse
= 1 and the other with fkey_INSResponse = 2

Thus one claim should return true and the other false

But both return true!

Am I clear?

Regards
Juan Dent

Sent from my iPhonee

[2021-05-15 14:13] juandent commented on #712
CORRECTION:

Sent from my iPhone

[2021-05-16 18:19] juandent commented on #712
Hi @fnc12 have you able to reproduce the bug? Is data.cpp clear enough?

rewards,
Juan Dent

[2021-05-17 03:02] #724 closed

[2021-05-17 05:28] fnc12 commented on #712
@juandent in progress right now

[2021-05-17 06:15] gfzgfz opened #726 "change struct member type"
I have a struct, and one member of this struct has data type UINT32.
The incoming data exceeds the INT32 positive range, and the data is expressed as a negative number.

The best way is to change the member of the structure to UINT64, but there are too many places where this structure member is used, so there is a big risk to change it.

Is there any good function or method to solve this problem?

[2021-05-17 06:37] fnc12 commented on #726
Just change it. Looks like a refactoring problem and you don't want to perform refactoring. Refactoring needs to be done - it is a rule. Anyway I don't understand how this question is related to `sqlite_orm` or even `SQLite` cause types in `SQLite` and be omitted or ignored.

[2021-05-17 06:57] fnc12 commented on #712
@juandent yes some bug exists in `tuple` extraction. IDK yet the clue but I know for sure how to fix your case. You have redundant `columns` call inside subselect. Please replace `columns(greater_than(count<als_q>(), 0))` with `greater_than(count<als_q>(), 0)`.

[2021-05-17 07:00] gfzgfz commented on #726
I think I asked this question because I don't have basic knowledge about SQLite.
I'll look for more and ask questions in the future.
Thank you.

[2021-05-17 07:02] fnc12 commented on #726
Please read info [here](https://www.sqlite.org/datatype3.html). Long story short: you can write something like this:
[code]
and it will work with no types at all

[2021-05-17 08:22] IvanRibakov commented on #718
@fnc12 I've tried [latest `dev` branch code](https://github.com/fnc12/sqlite_orm/blob/ab77f3f6318163f9ceee0f3ac355b94806ea8537/include/sqlite_orm/sqlite_orm.h) but still observing a crash due to exception being thrown from within a destructor.

Is there anything else that can be done to prevent `terminate` from being called?

[2021-05-17 08:36] fnc12 commented on #718
holy shield! Can you please provide some code to reproduce this bug?

[2021-05-17 10:29] IvanRibakov commented on #718
<details>
  <summary>Code to reproduce the issue</summary>

[code]
</details>

Above code essentially generates high read/write load on the DB. I didn't get the same ` what():` message every time (sometimes it was Disk I/O), but judging by the coredump, in all cases the common cause/part of the code is `sqlite_orm::internal::connection_ref::~connection_ref` + `sqlite_orm::internal::connection_hold

[2021-05-17 12:30] fnc12 commented on #718
the reason you get this is line `storage.update(model);` which performs writing. Writing can be performed only from one thread simultaneously but you run all threads in parallel. You can get the same error if you use raw libsqlite3 not `sqlite_orm` with the same code. How to fix it? Either make only one thread to make writing or increase busy timeout:
[code]

[2021-05-17 12:41] IvanRibakov commented on #718
I'm not concerned about the error as such, but rather about the fact that I'm unable to handle it (I would expect to be able to try-catch my way out of it) because of the way `sqlite_orm` is structured. Is that really the best that can be done in this case?

[2021-05-17 12:52] fnc12 commented on #718
are you sure that you cannot catch it? Try to enclose `storage.update(model);` inside `try-catch` block

[2021-05-17 13:33] IvanRibakov commented on #718
Yes

I have tried, but as you can see from the coredump, after being raised in the `connection_holder::release` exception does not propagate to the application code but rather is handled by the system library code which calls `terminate` that application can not do anything about. As I've said in the initial issue description, this is the result of throwing exception from the destructor  (and allo

[2021-05-17 13:35] fnc12 commented on #718
Ok I see. Looks like bad thing. Anyway what would you do if you can handle this exception?

[2021-05-17 13:39] fnc12 commented on #701
@vcarreira are you here?

[2021-05-17 13:40] IvanRibakov commented on #718
Log it to begin with. We're using `sqlite_orm` from a REST API so returning a 5XX error code (maybe 503) to the caller would be the next step. As far as I understood from your earlier comment this is caused by concurrent writes but is not a catastrophic failure that makes DB unusable so I see no reason not to continue with application execution.

[2021-05-17 13:42] fnc12 commented on #718
you can use `storage.busy_handler(...);` function to log it

[2021-05-17 13:43] fnc12 commented on #718
or try to increase `busy_timeout` anyway

[2021-05-17 13:47] fnc12 commented on #718
anyway I'll try to reproduce it. It is strange that exception is throw. It can be thrown from dtor only if the last connection is closed but you asked storage to open database forever then it must not happen

[2021-05-18 06:54] IvanRibakov commented on #718
Is there somewhere an example on customising `busy_handler`? Mainly interested in the handler interface and what means there are for error detection/handling.

[2021-05-18 07:35] fnc12 commented on #718
There are no examples in the repo but this API forwards call to `sqlite3_busy_handler`. More info here https://sqlite.org/c3ref/busy_handler.html

[2021-05-18 09:37] IvanRibakov commented on #718
Going down the custom `busy_handler` route raises some nasty question which make this approach look very unappealing:
- how to correctly re-implement `busy_timeout` logic
- how to safely throw and catch exceptions in C++ when a layer of C code is in between exception generation and exception handling

Were you able to reproduce the crash locally? Wondering if you have any thoughts on the "exceptio

[2021-05-18 09:44] fnc12 commented on #718
just set `busy_timeout` to value greater than time required to make `storage.update` in your case

it works very easy. C layer never throws any exception but returns error code. `sqlite_orm` translates every case of non zero error code to exception making it correct to translate errors from C to C++.

I did not started yet. I'll do it soon

Looks like a thing to think about

[2021-05-18 10:01] IvanRibakov commented on #718
As far as I understood from SQLite documentation

there can only be 1 `busy_handler` per connection. `busy_timeout` is also a `busy_handler` so it can not be used at the same time as a custom `busy_handler`. Hence the initial comment about the need to re-implement sleep/retry logic that is currently provided by the default `busy_timeout` handler.

<hr/>

I don't see how above explanation helps. Cu

[2021-05-18 14:05] juandent commented on #712
Yes it worked like a charm!! Thanks 🙏

Sent from my iPhone

[2021-05-18 16:35] vcarreira commented on #701
@fnc12  Sorry... being busy and missed the email notification.

I've just tested with clang-12 and it works. It was a nasty compiler bug on clang.

Thank you

[2021-05-18 16:35] #701 closed

[2021-05-18 16:40] fnc12 commented on #701
@vcarreira oh it is nice. I am glad. Please feel free to ask anything here

[2021-05-19 16:40] Zahir-Khan opened #727 "How to check Schema before make_storage?"
I have an evolving database that is created on an external application. I use this library to read it. How do I make sure not to crash the library on make_storage if some columns are missing? Sorry for the noob question I'm a c# guy.

I was going to do as simple as try catch code but it will be better to check first.

[2021-05-21 17:09] fnc12 commented on #726
@gfzgfz is the issue actual?

[2021-05-21 17:11] fnc12 commented on #727
you won't crash anything inside `make_storage` call cause `make_storage` creates an object in C++ just like `std::make_tuple` or `std::make_unique`. `make_storage` does not open SQLite database. Calling `sync_schema` can alter database's table. Just skip calling it.

[2021-05-21 17:38] Zahir-Khan commented on #727
@fnc12 ah yes. Let me rephrase. How do I check if the schema matches between the library and the database without altering the database or crashing the application because I will be querying non existent columns (not calling sync schema because I just want to read the database).

Right now I have a column to check the minimum database version required before proceeding to read it but this is not a

[2021-05-21 17:58] fnc12 commented on #727
call `storage.sync_schema_simulate()`. It will return result the same `sync_schema` does but will not alter any table

[2021-05-21 18:50] fnc12 commented on #723
fix is here https://github.com/fnc12/sqlite_orm/pull/728

[2021-05-22 03:13] fnc12 commented on #723
@ShredAstaire merged. Please check out `dev` branch

[2021-05-22 15:45] fnc12 commented on #727
@Zahir-Khan is the issue actual?

[2021-05-22 15:45] fnc12 commented on #726
@gfzgfz is the issue actual?

[2021-05-22 15:46] fnc12 commented on #723
@ShredAstaire is everything ok?

[2021-05-22 15:46] fnc12 commented on #599
@juandent is the issue actual?

[2021-05-22 17:54] juandent commented on #599
No, you may close the issue!

Juan

From: Yevgeniy Zakharov ***@***.***>
Sent: Saturday, May 22, 2021 9:47 AM
To: fnc12/sqlite_orm ***@***.***>
Cc: juandent ***@***.***>; Mention ***@***.***>
Subject: Re: [fnc12/sqlite_orm] I need the REF, HEAD_REF and SHA512 for the develop branch so I can download it using vcpckg like so: (#599)

@juandent <https://github.com/juandent>  is the issue actual?

—
Y

[2021-05-22 18:21] #599 closed

[2021-05-22 20:46] juandent commented on #599
This issue if incomplete and it needs to be reopened to answer the question of the issue. I got a response in the vcpkg repo that clearly explains what we need to do when desiring to download a different version of a repository. It all has to do with the port file corresponding to sqlite_orm which lies in vcpkg\ports\sqlite-orm\portfile.cmake. This contains a function that needs tweeking (vcpkg_fr

[2021-05-22 20:53] juandent commented on #599
Hi John,

I found a complete answer to the issue #599 that clearly explains how to use vcpkg to install any version of a github repository… it’s rather simple actually!!

Please mark it as answered so people using Windows and vcpkg can benefit from this explanation and can download whatever version of sqlite_orm they please.

Regards,

Juan Dent

From: Yevgeniy Zakharov ***@***.***>
Sent: Saturday

[2021-05-23 03:32] fnc12 commented on #599
@juandent thanks

[2021-05-24 09:37] IvanRibakov commented on #718
@fnc12 Any thought? What are the odds of this problem to be fixed in the `sqlite_orm` code base?

[2021-05-25 15:01] fnc12 commented on #726
@gfzgfz is the issue actual?

[2021-05-26 19:33] Zahir-Khan commented on #727
Thank you. This works. But there is another related problem. My primary key column has NOT NULL constraint. If I run the `sync_schema_simulate()` I am getting result map as `sync_schema_result::dropped_and_recreated` instead of sync_schema_result::already_in_sync everything is matching except for `NOT NULL` constraint. How do I define it in my make_column defenition?

I looked at the code but wasn

[2021-05-27 04:33] fnc12 commented on #727
what field is mapped to this PK? Any default C++ class field has `NOT NULL` in `sqlite_orm` except nullable types like `std::unique_ptr` and `std::optional`

[2021-05-27 15:45] Zahir-Khan commented on #727
[code]

It is ID which is just an int. The table created by the external application has NOT NULL constraint for this column.

This is what it shows in DB Browser.

[code]

[2021-05-29 04:40] NickStrupat opened #729 "Possibility of using `std::string_view` (or even `char const *`) to avoid heap allocation to/from a text column?"
For example...

[code]

The `string_view` instance would point to the raw text data in the row.

[2021-05-29 04:50] fnc12 commented on #729
@NickStrupat you need to add bindings for custom types. Please look through enum binding example

[2021-05-29 04:50] fnc12 commented on #723
@ShredAstaire is the issue actual?

[2021-05-29 08:42] fnc12 commented on #729
@NickStrupat I did not add `std::string_view` support out of box cause IDK how to implement getting data from database to `std::string_view`. Case is that string obtained from database is dynamic so it needs to be stored somewhere cause `std::string_view` cannot store dynamic string but it can only store a pointer to dynamic string which must be stored somewhere else.

[2021-05-29 15:00] fnc12 commented on #727
@Zahir-Khan let me check it soon. I'll write you back

[2021-05-29 18:51] NickStrupat commented on #729
You're right! I just tried it with this:

[code]

...but it appears that `sqlite` moves/destroys the string data by the time `get_all` returns its vector of objects.

I also just tried `storage.iterate` and it worked. I assume that's because `sqlite` is moving the raw internal data into some line of memory to be read from by `sqlite3_step` and to give the client code a chance to work with the raw

[2021-05-29 19:20] fnc12 commented on #729
Probably your code performs UB. Can you please show it? I am just curious.

[2021-05-29 19:30] NickStrupat commented on #729
Sure. I derived my code from https://github.com/fnc12/sqlite_orm/blob/master/examples/in_memory.cpp

[code]

[2021-05-29 19:33] fnc12 commented on #729
Oh I see. You are right: `iterate` works and does not produce UB cause storage connection is opened and statement is alive until loop is finished. But in `get_all` case statement is killed right after `get_all` call finished. Thank you for providing the code.
Can I help you with anything else?

[2021-05-29 22:39] NickStrupat commented on #729
That's all I wanted to ask. Thank you again for your timely help.

[2021-05-29 22:39] #729 closed

[2021-05-30 14:29] fnc12 commented on #729
@NickStrupat I'd like to know: what project you use `sqlite_orm` for? I'd like to make a list of project using this lib.
Also let me introduce you SQLite GUI app made by me https://sqliteman.dev

[2021-05-30 20:43] lorlen opened #730 "Cannot use `asterisk<T>()` on tables with anything other than `make_column()`"
Consider the following snippet:

[code]

It should compile, but instead an error is thrown (GCC):

[code]

I tested it also with `primary_key` and `foreign_key`, and it also doesn't compile with a similar error message.

If I remove the `unique` from table definition, it compiles without error, though.

[2021-05-31 00:44] NickStrupat commented on #729
I'm using it in a compiler I'm building. For my own programming language. It's in very early stages of development still, but my plan is to use SQLite and your library to store all the tokens, AST elements, symbols, etc.

[2021-05-31 02:46] fnc12 commented on #729
sounds great! Good luck!

[2021-05-31 10:08] fnc12 commented on #730
@lorlen it is a bug. Let me fix it.

[2021-06-01 05:29] mishal23 opened #731 "add `integrity_check` PRAGMA"
Feature request to add `integrity_check` PRAGMA as per: https://www.sqlite.org/pragma.html#pragma_integrity_check

[2021-06-01 11:01] fnc12 commented on #730
@lorlen fix is [here](https://github.com/fnc12/sqlite_orm/pull/733). Let's wait for CI to compile and then I'll merge it

[2021-06-01 11:16] lorlen commented on #730
Wow, thanks for such a quick fix!

[2021-06-01 18:16] fnc12 commented on #730
@lorlen merged. Please check it out

[2021-06-01 20:53] lorlen commented on #730
Yes, it works now.

[2021-06-02 18:50] fnc12 commented on #730
Nice. Closing the issue. BTW I filmed how I was fixing it https://youtu.be/SSBEP6_fu8U. If you know Russian you can watch it :)

[2021-06-02 18:50] #730 closed

[2021-06-07 18:16] fnc12 commented on #723
@ShredAstaire is the issue actual?

[2021-06-07 18:17] fnc12 commented on #726
@gfzgfz closing due to inactivity

[2021-06-07 18:17] #726 closed

[2021-06-07 18:30] fnc12 commented on #707
@NewYaroslav I examined your code. You can perform a similar logic using `sqlite_orm` with prepared statements.
[code]
You can get error code from `std::system_error` to understand whether error happened due to busy status or anything else. All SQLite codes are passed right into `std::system_error` from storage

[2021-06-09 11:06] fnc12 commented on #727
I've checked it. Table recreation happens cause 'DatabaseVersion' and 'MinimumCompatibilityVersion' has not `NOT NULL` constraint in your SQL query:
[code]
You need either add `NOT NULL` to these columns or change your type for `EclMetadataModel::DatabaseVersion` and `EclMetadataModel::MinimumCompatibilityVersion` from `int` to `std::optional<int>`

[2021-06-09 11:12] surajmitsel commented on #659
Hello, I am looking for the SQlite triggers so can you update if is it still under TODO list or under progress

[2021-06-09 11:20] fnc12 commented on #659
@surajmitsel hello. It is in todo list right now. When I start implementing it I'll add `in progress` label here and write a comment about it.

[2021-06-09 12:40] mishal23 commented on #731
Fixed in #734

[2021-06-09 12:40] #731 closed

[2021-06-09 17:52] Zahir-Khan commented on #727
Yup, how do I add Not null in marke_column ? I wasn't able to find a constraint in the library for it.

[2021-06-09 18:14] Zahir-Khan commented on #727
[code]

This is from the wiki
https://github.com/fnc12/sqlite_orm/wiki/Making-a-storage

`sync_schema_simulate()` should be able to infer the `NOT NULL` constraint automatically then...

I have no clue about C++ or I would have helped out. Looks like there is a need for a seperate constraint like `not_null()` similar to `primarykey()` etc.

[2021-06-09 18:15] fnc12 commented on #727
You don't need to add NOT NULL to make_column call explicitly cause it has not null already by default implicitly. All types except std::unique_ptr, std::shared_ptr and std::optional automatically treated as not null types inside any storage. What you need is to modify your database and add NOT NULL to the first two columns cause they are nullable right now.

[2021-06-09 18:44] fnc12 commented on #727
You can use `std::unique_ptr` instead of `std::optional` with C++11/14 easy. You have a choice. It is a very simple issue

[2021-06-09 18:52] Zahir-Khan commented on #727
Just tried it. No Bueno. I have 80+ columns to deal with and most of the reading code has already been already written.
Cant spend too much time on this anymore. I can easily incorporate try catch for the first table with the database version info which would rarely change. Just need simple check if i should proceed to use the database or ask the user to update their application.

Thank you for yo

[2021-06-10 22:06] fmichaut-dev commented on #659
Hello, I started to work on it yesterday, but I am wondering how the interface should look like from a user point of view @fnc12 ?

Should the create_trigger function return a trigger object to pass to the make_storage function as for make_table ?
Or should there be a function inside the storage base class to call like `storage.create_trigger(...)` ?
Or maybe a static function that has nothing to

[2021-06-11 04:30] fnc12 commented on #659
Hello. Triggers are a part of schema so I see it like this:
[code]
and they must be created inside `sync_schema` call as tables and indexes

[2021-06-11 15:09] jagerman commented on #707
This is not exactly true, because sqlite_orm is doing some thread-unsafe calls, and could definitely use some improvement in this area.  For example, there is *lots* of code that looks like this:
[code]
which isn't thread safe because there's a race condition between the `sqlite3_step(stmt)` and the `sqlite3_errcode(db)/sqlite3_errmsg(db)` calls, which means the code and message in the exception a

[2021-06-12 07:48] fnc12 commented on #707
@jagerman you are right. `sqlite3_step(stmt)` can be refactored easily. About `sqlite3_last_insert_rowid` call: you can use explicit insert or `replace` instead.

[2021-06-14 07:44] fnc12 commented on #707
@jagerman fix is here https://github.com/fnc12/sqlite_orm/pull/736

[2021-06-14 15:05] SimantoR opened #737 "Types for Storage, Table and Column"
# Description
`sqlite_orm` provides examples for almost everything that can be done using Sqlite but it doesn't show any example for types for tables/columns/storage. Without types it's hard to store or reuse storage across different contexts. Just the column type is a very complicated type to declare. Does that type propagate all the way up to a storage? It seems so. In such cases, it would be ri

[2021-06-14 15:17] fnc12 commented on #737
https://github.com/fnc12/sqlite_orm/wiki/FAQ

[2021-06-15 03:51] fnc12 commented on #707
@jagerman merged into `dev` branch. Please check it out

[2021-06-19 03:00] SimantoR commented on #737
Thank you for the link. May i suggest returning a unique pointer for it? I created an identical one for this purpose.

[2021-06-19 04:45] udchavan opened #738 "Data encryption while storing data in sqlite"
New feature request to have Data encryption as add-on functionality to store data secure in db and only authorised client can read the data.

[2021-06-19 05:04] fnc12 commented on #737
You can return a unique pointer.

What are talking about?

[2021-06-19 05:11] fnc12 commented on #738
what encryption system do you want to use?

[2021-06-21 00:36] numb0824 opened #739 "cmake -B build error"
hi,i follow the step compile sqlite_orm,but find this error:
"
whx@whx-pc:~$ git clone https://github.com/fnc12/sqlite_orm.git sqlite_orm
正克隆到 'sqlite_orm'...
remote: Enumerating objects: 9536, done.
remote: Counting objects: 100% (628/628), done.
remote: Compressing objects: 100% (326/326), done.
remote: Total 9536 (delta 345), reused 396 (delta 184), pack-reused 8908
接收对象中: 100% (9536/9536), 4.1

[2021-06-21 08:23] fnc12 commented on #739
try
[code]

[2021-06-23 08:02] numb0824 commented on #739
thaks!
it really helps me

[2021-06-23 08:02] #739 closed

[2021-06-23 08:04] numb0824 opened #740 ""cmake --build build --target install" error"
hi,when i do this step "cmake --build build --target install",i found a error:
"
cd /home/whx/sqlite_orm/build/tests/third_party/sqlite && /usr/local/bin/cmake -DSQLITE3_ARCH_NAME=/home/whx/sqlite_orm/build/tests/third_party/sqlite/sqlite.zip -DSQLITE3_LINK=https://www.sqlite.org/2020/sqlite-amalgamation-3320300.zip -DSQLITE3_ARCH_SHA1=0c805bea134712a903290a26b2a61c3a8a3bd8cc -P /home/whx/sqlite_o

[2021-06-23 08:06] fnc12 commented on #740
what branch do you use? if `master` please try `dev` instead. There was some kind of hash bug

[2021-06-24 03:52] numb0824 commented on #740
@fnc12 thanks for your reply!
I tried both master and dev branch again and again,finally it can compile successfully.
This error  is judt about a network's problem in my country,so it's not the branch problem.

[2021-06-24 03:52] #740 closed

[2021-06-24 18:43] DarkArkantos commented on #632
Hi!
Is this solution still working?
[code]
I tried to use that one, but there's an error when I place `==`.
### My code:
`BinEntry` -> DerivedClass;
`&BinEntry::value` -> Defined in base class

[code]

The error is the following

`No operator matches these operands  operand types are: sqlite_orm::internal::column_pointer<db::models::lists::BinEntry, std::string db::models::lists::BaseValueEntry::*

[2021-06-25 17:15] fnc12 commented on #632
try adding `using namespace sqlite_orm;` inside the scope before line with `==`

[2021-06-25 17:34] DarkArkantos commented on #632
It's already there, actually. 🤔
This is the whole method
[code]

[2021-06-25 17:56] fnc12 commented on #632
try `dev` branch. I have already fix some operators usage. If it fails I'll fix it. Thanks

[2021-06-25 17:58] DarkArkantos commented on #632
Alright sir. Thank you so much for your help. I'll give it a try.

[2021-06-28 10:18] jojogh opened #741 "how to open a sqlite db file using make_storage?"
As the former issue mentioned about the database connection, i used the following way to open the database, but i can not get any expecting result. How can I open and query data with the correct way? Thanks!
[code]

[2021-06-28 12:03] fnc12 commented on #741
Looks like everything is correct.
What result do you get and what result do you expect?

[2021-06-28 14:11] DarkArkantos commented on #632
Hi!
I tried using dev branch but it stills presenting the same error. I'll go for repeating code in child classes in the meantime while the fix comes out.
I'll be looking after any update, thank you so much. It's a really nice library! :D

[2021-06-28 17:12] fnc12 commented on #632
@DarkArkantos you are right. The problem exists. But it is not related to inheritance but using of explicit column `column<BinEntry>(&BinEntry::value)`. It does not work with comparison operators (my bad). Let me fix it today.

[2021-06-28 17:44] fnc12 commented on #738
@udchavan are you there?

[2021-06-28 17:45] fnc12 commented on #737
Yes you can. It can be done the same way you make unique pointer for other types. All you need is to get the type using code example from the link above.

[2021-06-28 17:45] fnc12 commented on #723
fixed and closed due to inactivity

[2021-06-28 17:45] #723 closed

[2021-06-28 18:25] fnc12 commented on #632
@DarkArkantos fix is here https://github.com/fnc12/sqlite_orm/pull/742. Let's wait for unit tests builds and merge it (tomorrow).

[2021-06-28 18:26] fnc12 commented on #707
@jagerman are you there?

[2021-06-28 19:11] jagerman commented on #707
Yes, thank you, that will help.

[2021-06-28 19:12] fnc12 commented on #707
@jagerman @NewYaroslav is there anything else I can help you with related to muti-threaded mode?

[2021-06-28 19:15] jagerman commented on #707
I'll have to experiment further and will get back if I have trouble; at the moment I'm not actively working on our database code.

[2021-06-28 21:32] juandent opened #743 "How to get the column names of a table?"
The column names must be somewhere in the metadata of the tables... I have a bunch of tables and I want to get their column names.  Is there a way to do this programaticly? something like

[code]
or

Regards,
Juan

[2021-06-29 03:04] fnc12 commented on #743
There is no way but it can be added with API like this:
[code]

[2021-06-29 03:13] fnc12 commented on #632
@DarkArkantos merged into `dev` branch. Please check it out

[2021-06-29 05:00] fnc12 commented on #743
feature is here https://github.com/fnc12/sqlite_orm/pull/744

[2021-07-01 05:32] fnc12 commented on #741
@jojogh are you there?

[2021-07-01 05:32] fnc12 commented on #743
@juandent is everything ok?

[2021-07-01 05:33] fnc12 commented on #738
@udchavan are you there?

[2021-07-01 05:33] fnc12 commented on #737
@SimantoR is the issue actual?

[2021-07-01 05:35] fnc12 commented on #718
@IvanRibakov do you have a sample code to implement this? I cannot find it

[2021-07-01 05:44] fnc12 commented on #712
@juandent is the issue actual?

[2021-07-01 05:46] fnc12 commented on #661
@denzor200 environmental tests are not going to be implemented so there is no reason to keep this issue open. Do you have other questions related to it?

[2021-07-01 05:46] fnc12 commented on #653
@Overlordff is the issue actual?

[2021-07-01 05:46] fnc12 commented on #647
@denzor200 is the issue actual?

[2021-07-01 06:13] IvanRibakov commented on #718
To implement what? You mean code to reproduce the issue? It's attached to this https://github.com/fnc12/sqlite_orm/issues/718#issuecomment-842211808

[2021-07-01 12:08] SimantoR commented on #737
Resolved the issue. I created a function that returns the DB object as unique pointer. But yes definitely resolved. Thank you for the support

[2021-07-01 12:08] #737 closed

[2021-07-01 19:32] #647 closed

[2021-07-01 19:33] fnc12 commented on #647
Closing cause it is not required due to discussion

[2021-07-02 05:30] fnc12 opened #746 "Add github actions for unit tests and examples"
I've started this https://github.com/fnc12/sqlite_orm/pull/745 but I cannot figure out how to fix windows and ubuntu builds. Probably windows is missing sqlite lib but IDK how to install it. Ubuntu fails with segfault. Probably ubuntu need to increase template recursion depth compilation argument but I also don't know how to do it

[2021-07-02 05:30] fnc12 commented on #738
try `storage.on_open` anyway. Closing due to inactivity

[2021-07-02 05:30] #738 closed

[2021-07-02 05:30] fnc12 commented on #718
@IvanRibakov sorry I am blind

[2021-07-02 05:45] data-man commented on #746
Put sqlite's sources to third_party dir?

[2021-07-02 06:24] fnc12 commented on #746
@data-man sqlite receives updates regularly so it is not a good idea. The best way is to download it every time

[2021-07-02 06:29] data-man commented on #746
Ok.
Try switch to https://github.com/cpm-cmake/CPM

[2021-07-02 06:30] fnc12 commented on #746
the link gives 404

[2021-07-02 06:32] data-man commented on #746
Sorry :)
https://github.com/cpm-cmake/CPM.cmake

[2021-07-06 21:02] fnc12 commented on #132
everyone please review the implementation https://github.com/fnc12/sqlite_orm/pull/748

[2021-07-07 06:41] fnc12 commented on #743
@juandent does everything work?

[2021-07-07 06:41] #661 closed

[2021-07-07 06:42] fnc12 commented on #661
currently static tests perform the same logic: they test not static asserts firing but value of expressions written inside static assets. This is almost the same but is cheaper. If someone wants to implement real environmental tests you are welcome.

[2021-07-07 11:29] fnc12 commented on #132
merged. Next will be aggregate functions

[2021-07-09 18:34] fnc12 commented on #132
next PR with aggregate functions is ready https://github.com/fnc12/sqlite_orm/pull/749

[2021-07-10 08:03] fnc12 commented on #132
aggregate functions are available in `dev` branch. Please check it out if someone is still here. Next will be scalar and aggregate functions with variadic templates

[2021-07-11 11:37] fnc12 commented on #132
variadic scalar functions are on their way https://github.com/fnc12/sqlite_orm/pull/751

[2021-07-13 10:26] jojogh commented on #741
Hi sorry can not access github time to time, I have fixed this issue, by convert the db file to .sqlite format, everthing is ok now. Thanks!

[2021-07-13 10:59] fnc12 commented on #741
@jojogh good! Also please tell me what project do you use this lib for. I am curious and want to make a list of project that use `sqlite_orm`

[2021-07-13 10:59] #741 closed

[2021-07-14 15:19] gfzgfz opened #752 "i want change filename"
it's my code.
[code]
i want change filename.
i think close "Profile" and then recall makeProfiledb()
so how can i close profile??

Or is there a better way to rename the file?

[2021-07-14 16:52] fnc12 commented on #752
after destroying a storage connection will be closed fo sure. So to use a storage with a different filename just recreate it using `makeProfiledb` function with a different argument

[2021-07-14 23:25] gfzgfz commented on #752
How can i destroying a storage connection?
Which function should I call?
Thank you

[2021-07-15 03:33] fnc12 commented on #752
nothing explicit. Just destroy the object

[2021-07-16 07:44] gfzgfz commented on #752
Well resolved. Thank you.

[2021-07-16 07:44] #752 closed

[2021-07-18 18:21] shanekoss commented on #533
Thanks for this example.  It seems we can easily use on_open to decrypt a file already stored, but how would we go about encrypting the data we are saving to the file?

[2021-07-18 18:25] fnc12 commented on #533
@shanekoss create a new db and encrypt it inside `on_open` call

[2021-07-18 18:25] fnc12 commented on #533
@shanekoss how would you do it without `sqite_orm` but with raw libsqlite3?

[2021-07-18 18:40] shanekoss commented on #533
@fnc12  - thanks for the quick reply!

Perhaps I was thinking about it wrong, but my plan was to encrypt and decrypt with blowfish like so:

`        storage.on_open = [this](sqlite3* handle)
        {
            blowfish.encrypt( handle, sizeof(handle), sizeof(handle) + 8 );
        };`

However, when I do that, I get a bad access error here in table_exists:

`                auto rc = sqlite3_e

[2021-07-18 18:51] fnc12 commented on #533
@shanekoss please show me docs about using blowfish for sqlite encoding

[2021-07-18 18:58] shanekoss commented on #533
based on that answer, clearly I am thinking of this wrong.  I am not very familiar with sqlite- and perhaps naively I was thinking of encrypting and decrypting the file itself - but sounds like that is not the right way to go, so I will think of something else.  Thanks for the replies.

[2021-07-18 19:31] fnc12 commented on #533
unfortunately I cannot help you with some custom encrypting. All I can do it provide some API for this within `sqlite_orm`

[2021-07-21 15:10] fnc12 commented on #743
@juandent are you here?

[2021-07-21 15:11] fnc12 commented on #132
so finally scalar and aggregate functions with variadic arguments merged. Now `sqlite_orm` support both scalar and aggregate functions with both static and variadic arguments. Now I'll add an example and close the issue

[2021-07-21 17:36] juandent opened #758 "a question about the has_every method of column_t"
I am learning from your source code, it is so fine!!

I have a question about has_every:

[code]

I don't understand the recursion that tests has<O1>()  && has<O2>() but does not take into account the variadic Opts...
If we want to ensure every constraint satisfies 'has'....

Some light or example will be greatly appreciated!

Cheers,
Juan Dent

[2021-07-21 23:43] juandent commented on #758
I have understood your other recursions but I have trouble with this one ...

Shouldn't the first has_every be:

[code]

what is your intent? For each On it is true that has<On> is true?

[2021-07-22 04:40] fnc12 commented on #758
probably some if these functions are not used anymore and are legacy

[2021-07-22 16:33] juandent commented on #758
I have found the correct implementation as follows:

[code]

I tested this

:-)
Regards,
Juan Dent

[2021-07-22 17:49] fnc12 commented on #758
what do you mean 'you found'? You found it inside the lib or you've implemented this by yourself?

[2021-07-22 18:35] juandent commented on #758
I moved the function templates outside of column_t and removed the constness of the functions (since they are no longer members) and I tried them like so:

[code]

So I implemented this...
it works nicely

[2021-07-23 11:51] karol-bisztyga opened #759 "Data dropped when `sync_schema` with `preserve = true`"
# Description

Hey!
I'm trying To understand how the `sync_schema` works. [From the docs](https://github.com/fnc12/sqlite_orm#migrations-functionality):

So I understand this in the following way: If I create sync the schema, insert some data, and then sync schema again with one column renamed or at least the data will be in some other column. Meanwhile, after executing the code below, the data's

[2021-07-23 18:03] juandent commented on #758
do you want to update this legacy code so it does what it should or is this code not used at all?

Happy to be of any help John!!

[2021-07-24 09:54] trueqbit opened #760 "Query with correlating 'exists' subquery is wrong"
For queries with a correlating subquery that filters results using an 'exists' clause, the resulting serialized query string is wrong.

Consider the following:

[code]

then sqlite_orm produces:
[code]
while it must not include the 'scan_result' table but only include the 'item' table:
[code]

[2021-07-25 16:21] fnc12 commented on #760
it happens cause storage uses from tables list auto-detection. It works like this: iterates all over the statement
[code]
and collects all tables mentioned.
If you want to change the `FROM` list in your selection please use explicit from:
[code]

[2021-07-25 16:39] fnc12 commented on #758
@juandent I'd like to remove this code if it is never used. Why do you need it?

[2021-07-25 16:39] fnc12 commented on #759
@karol-bisztyga let me investigate this tomorrow

[2021-07-25 16:41] juandent commented on #758
no I don't need it! Actually I have been studying your excellent code and stumbled into this particular section that did not seem to work correctly... go ahead and remove it

[2021-07-25 16:41] #758 closed

[2021-07-25 16:42] juandent commented on #758
thanks!!

[2021-07-25 16:42] fnc12 commented on #758
thank you. You are welcome

[2021-07-25 19:51] trueqbit commented on #760
Thanks for the hint, I'm gonna try it out! I am using the regular vcpkg port of your library and the last official release 1.6 was October 2020. Not a problem though as I can create a custom port.
Seems to be related to #712?

[2021-07-25 19:54] Lokotito opened #763 "[request] Specify custom SQLite3 (.c and .h) files, or amalgamation folder"
Really new in c++ and SQLite, find this project and like to test it.
I'm using Visual Studio 2019 as environment, and like to simplify my project with only amalgamation source code for SQLite3 (.h and .lib files).

It's possible to implement a folder where sqlite_orm search for SQLite3 files (.c and .h)?, or is any way to configure this in actual CMakeLists.txt?

Thanks.

[2021-07-26 03:36] fnc12 commented on #763
sqlite_orm searches using `#include <sqlite3.h>` preprocessor directive just as any other C/C++ source files. So al you need is to add your amalgamation source to your project and add `.h` file's path to project header search path

[2021-07-26 13:32] fnc12 commented on #132
so I've merged an example file https://github.com/fnc12/sqlite_orm/blob/dev/examples/user_defined_functions.cpp . Please check it out. I am closing this issue. If anyone finds something wrong please reopen it or create a new one

[2021-07-26 13:32] #132 closed

[2021-07-26 13:49] fnc12 commented on #501
there is nothing not implemented in `dev` from this issue. So I am closing it. If I missed something please reopen it

[2021-07-26 13:49] #501 closed

[2021-07-26 14:04] fnc12 commented on #712
I am closing this. If there is something left please reopen it

[2021-07-26 14:06] fnc12 commented on #760
please create a custom port as you wish.

Yes it is

[2021-07-26 15:11] fnc12 commented on #242
@alexprogrammr I have a proposal for your query

[code]

[code]
First of all I think we need to add `storage_t::insert_into` API which can be called 'raw insert' just like `storage_t::select` is called 'raw select'.

Then we need to add `on_conflict` public function.

[2021-07-26 21:10] juandent opened #765 "support for u8 strings is incomplete"
I just downloaded the dev branch today and it does not compile. I get the error:

1>        with
1>        [
1>            T=const char8_t *const
1>        ]

when I remove the u8 prefix from the strings in tests2.cpp the problem goes away... I believe we are missing a specialization for char8_t for  the statement_serializator function template.

[2021-07-27 01:05] vrakesh opened #766 "How can I get size of a table in bytes? (DbStat question)"
Hello,
   New user of sqlite_orm here. I would like to find the current size of database table , This can be done with dbstat
[code]
https://www.sqlite.org/dbstat.html
If it compile SQLite with dbstat, how would I execute the above command with sqlite_orm?

[2021-07-27 02:23] zingchen opened #767 "Support for collating function (sequence)?"
The current version (v1.6) represents collating functions as an enum of 3 values: `binary`, `nocase` and `rtrim`, which corresponds to the 3 pre-built collating functions (also known as collating sequences in SQlite terminology). For many languages, the pre-built collating functions don't work.

Let's consider for example Czech. Two Czech words are compared lexicographically, i.e. letter-by-letter

[2021-07-27 03:16] fnc12 commented on #765
PR is here https://github.com/fnc12/sqlite_orm/pull/768

[2021-07-27 03:41] fnc12 commented on #766
Hello. This feature must be added. We need to think about API for it. I see it like this: `sqlite_orm` will have a dedicated struct `dbstat` with fields mapped to columns of `dbstat` table so one can make queries:
[code]
Of course this struct will be covered with `#ifdef SQLITE_ENABLE_DBSTAT_VTAB`.

What do you think?

[2021-07-27 03:43] fnc12 commented on #767
Ok you've described the problem and what solution do you offer? How would you solve this issue with raw SQLite? Why don't you use custom collations instead of built-in?

[2021-07-27 04:08] fnc12 commented on #765
@juandent what is your OS and compiler?

[2021-07-27 04:39] zingchen commented on #767
With raw SQLite I'd register custom collating function myCompare() under name "MYCOMPARE" by a C API call to sqlite3_create_collation(myDbConnection, "MYCOMPARE", SQLITE_UTF8, NULL, myCompare) to , then use the clause COLLATE MYCOMPARE in queries.

So, I think that SQLite-ORM should provide a wrapper for sqlite3_create_collation() which, besides others, maps the collating function (myCompare) to i

[2021-07-27 04:42] fnc12 commented on #767
there is custom collation support. Just call `storage.create_collation(...)`

[2021-07-27 04:58] zingchen commented on #767
OOPS, I must have mis-read the source code. I'm sorry.

Any hint on how to specify the `collating_function` `myCompare` to construct a query? I've search the `examples` but didn't find one using `collating_function` or `create_collation`.

[2021-07-27 05:07] fnc12 commented on #767
[code]

[2021-07-27 05:48] zingchen commented on #767
Thank you! Out of curiosity, why `"ototo"` and not `&ototo` or simply `ototo`?

The later seem to be more consistent with `select(&User::name,...)` and `collate(nocase)` syntax, which is one of the very principles of SQLite-ORM.

[2021-07-27 08:44] fnc12 commented on #765
@juandent merged into `dev`

[2021-07-27 08:45] fnc12 commented on #767
@zingchen several reasons:
1) custom collation is not very often used feature so it is not bad if you can inject custom string using `.collate(...)` member function
2) I was young and silly 😅

If you want I can add strong typed API just like user defined functions have

[2021-07-27 12:33] juandent commented on #765
My OS is Windows 10 and compiler is VS 2019 v16.10.4

[2021-07-27 12:33] juandent commented on #765
is integration into dev complete as far as char8_t is concerned?

[2021-07-27 12:33] fnc12 commented on #765
ok thanks. Is everything ok now?

[2021-07-27 12:35] juandent commented on #765
do I have to git clone again? or just do a Pull Request?
How so? cmd line?

[2021-07-27 13:43] zingchen commented on #767
Please please do it. As `ototo` is treated equally to `nocase` and `rtrim` in the SQLite language, it'd better be so in C++. After all, that's why we love SQLite-ORM. Right?

[2021-07-27 16:43] fnc12 commented on #765
don't do git clone if you have already done clone once. Just open terminal, go to `sqlite_orm` folder and run `git pull` command. It will pull the latest changes of the current branch. Also you must be on `dev` branch. Type `git branch` to view your current branch

[2021-07-27 16:52] fnc12 commented on #767
Probably I did not understand you quite right. Do you mean that custom collation feature must have a strong typed API just like user defined functions feature has to eliminate the opportunity of typing collation name as string at many places? Like that:
[code]
?

[2021-07-27 17:18] zingchen commented on #767
Yes. The syntax `collate<MyUnicodeCollation>()` would be the most intuitive one from user's perspective, as it resembles the pattern `collate_binary()`, `collate_nocase()` and `collate_rtrim()`.

[2021-07-27 17:19] fnc12 commented on #767
Ok I'll add it to the TODO list

[2021-07-27 17:21] zingchen commented on #767
Thank you very much!

[2021-07-27 17:24] fnc12 commented on #767
You are welcome! https://github.com/fnc12/sqlite_orm/blob/dev/TODO.md please review the latest line in the list. Is the issue actual?

[2021-07-27 17:50] zingchen commented on #767
Not so actual, compared to other items in the list. I can live with `collate("MY_UNICODE_COLLATION")` for now.

Some years ago, a student, who took an intro Ada course from me, told me that he prefers C++ to Ada because `operator + (int x, int y)` "is better" than `function "+" (x, y : integer)`. The difference is `+` vs `"+"`. I disagree with him, but since then I understand why Ada failed.

[2021-07-27 17:53] fnc12 commented on #767
Cool story!

[2021-07-27 19:06] vrakesh commented on #766
This sounds perfect, would love the feature . The dedicated struct makes sense. Thanks for accepting this as a feature request.

[2021-07-27 21:04] juandent commented on #765
everything is ok now!!

[2021-07-27 21:04] #765 closed

[2021-07-27 21:14] juandent opened #769 "Don't understand static_assert in func<class F, class ...Args>"
The static_assert in the following code below is of the form A && ! B || B, where:

[code]

Can you please elaborate? It seems to me that assert should fail if argsCount != functionArgsCount...

[code]

thanks!
Juan Dent

[2021-07-28 02:49] fnc12 commented on #769
[code]
The first case happens when user calls a function with static amount of arguments.
The second case happens when user calls a function with dynamic amount of arguments. In this case `argsCount != functionArgsCount` may happen cause one can put any number of args into `func<T>(...)` call but arguments count in function class is 1 and it is `arg_values`.
All other cases mean that amount does n

[2021-07-28 06:55] karol-bisztyga commented on #759
@fnc12 any update?

[2021-07-28 08:47] fnc12 commented on #759
@karol-bisztyga thanks for such detailed description. I did not have time to work on this issue. Let me work on it today in the evening.

[2021-07-28 08:51] fnc12 commented on #759
wait. I've read carefully and it works as expected cause you need to specify data for `email` column. I mean that storage doesn't know what values of email you expect existing users to have after you delete `email_address` and add `email` columns. Try to do the same thing using raw SQLite and you'll get an error:
1) create table with 4 columns including `email_address`
2) insert two rows
3) delete

[2021-07-28 13:57] karol-bisztyga commented on #759
Cool! Thanks for exaplining! ❤️

[2021-07-28 17:33] juandent commented on #769
Got it thank you very much!

[2021-07-28 17:33] #769 closed

[2021-07-30 04:24] fnc12 commented on #763
@Lokotito is the issue actual?

[2021-07-30 16:56] fnc12 commented on #760
@trueqbit is the issue actual?

[2021-07-30 16:56] fnc12 commented on #743
closing due to inactivity

[2021-07-30 16:56] #743 closed

[2021-07-30 18:29] Lokotito commented on #763
In windows10 I have to Add a reference folder with sqlite3 amalgamation files (.c and .h files) in Environment Variables->System Variables, after that I can run 'cmake -B build' command inside "Developer Command Prompt for VS 2019".
But I did'nt find a way to implement de amalgamation files directly in sqlite_orm git clone folder, even I try copy .c and .h files in 'sqlite_orm\dependencies' folder

[2021-07-30 20:57] trueqbit commented on #760
I created a custom vcpkg port from the latest dev branch, and the explicit 'from' feature works as intended!

[2021-07-31 01:48] fnc12 commented on #763
just add `sqlite3.h` and `sqlite3.c` wherever you want then add `sqlite3.c` as a source into your project and add `sqlite3.h`path into include directories

[2021-07-31 02:21] fnc12 commented on #718
@IvanRibakov I've ran your code. It is very easy to reproduce your crash. It happens cause of data races. I don't understand how do you expect to handle data races cause data races are UB cases. If you want your software to act predictable then you have to escape all cases of UB. So you'd better add mutex around `storage.get` and `storage.update` calls. I did it and everything stopped crashing.
Wh

[2021-07-31 23:08] juandent opened #770 "meaning of is primary key insertable seems not sufficient"
hi!

when is a primary key insertable? What does it mean that a primary key column is insertable?

The code defines this as insertable:

[code]

i.e. the primary key has a default value (however having a default value would repeat keys!), or is an auto_increment (makes sense!) or type_printer is an integer printer (why integer? seems not enough restrain...)

in other words, I see that auto_increme

[2021-08-02 06:27] fnc12 commented on #763
@Lokotito is the issue actual?

[2021-08-02 06:27] fnc12 commented on #760
@trueqbit is the issue actual?

[2021-08-02 06:27] fnc12 commented on #718
@IvanRibakov are you there?

[2021-08-02 06:30] #712 closed

[2021-08-02 06:35] fnc12 commented on #707
@jagerman let me close this issue/ If you have any problems please feel free to reopen it at any time

[2021-08-02 06:35] #707 closed

[2021-08-02 06:38] fnc12 commented on #697
@andrei-datcu the reason why `sqlite_orm::statement_binder<T>::extract(const char*)` is still public cause it can become required to override in custom specializations if pragma has any values with custom types. Now it does not exist and you can skip this function. But later it can change. Anyway it must not make any problems skipping this function implementation in your specializations so nothing

[2021-08-02 06:38] #697 closed

[2021-08-02 06:39] trueqbit commented on #760
@fnc12 Sorry, as I'm not a native English speaker either, I don't quite understand your question :) What do you mean by "actual"?

[2021-08-02 06:41] fnc12 commented on #760
@trueqbit do you have any questions left here?

[2021-08-02 06:53] trueqbit commented on #760
Thanks for asking again, as I said above, I am happy about the explicit 'from' feature working as intended!

[2021-08-02 06:53] #760 closed

[2021-08-02 07:43] IvanRibakov commented on #718
Do you have a stack trace or any other example of what that other crash looked like?

[2021-08-02 17:22] denzor200 commented on #770
Hi, Juan!

First, a short introduction to the topic, then I will answer your questions..
As we know, sqlite_orm has two main functions to create new record in a table - `insert` and `replace`.
The character of the `insert` function is that its serialization ignores the pkey value passed by the user.
For example:
[code]
This `insert` will be serialized into the following SQL statement:
`INSERT INTO

[2021-08-02 17:55] denzor200 commented on #770
1. when a column with pkey has a **default value** (proof here: https://pastebin.com/6u1zGLNM)
2. when a column with pkey has a **autoincrement** tag (proof: https://pastebin.com/aUcAPByb)
3. when a column with pkey will be serialized into **INTEGER** sqlite type (proof: https://pastebin.com/8BgWK9wy)

Insertable pkey means that this pkey may be ignored when listing all fields during serialization

[2021-08-02 17:57] denzor200 commented on #770
No. See proofs above

[2021-08-03 14:43] Lokotito commented on #763
All works OK, thank you for all.

[2021-08-07 18:24] fnc12 commented on #770
@juandent do you have any questions?

[2021-08-07 19:06] fnc12 commented on #767
@zingchen new template API for custom collations is here https://github.com/fnc12/sqlite_orm/pull/771

[2021-08-08 04:06] fnc12 commented on #767
@zingchen merged. Please check it out

[2021-08-08 11:22] zingchen commented on #767
GCC encountered errors trying to compile `collate.cpp` with the new `sqlite_orm.h` (from the `dev` branch). Here are some errors.

[code]

[2021-08-08 18:59] fnc12 commented on #767
@zingchen oh damn! The fix is here https://github.com/fnc12/sqlite_orm/pull/772

[2021-08-09 01:12] zingchen commented on #767
It works flawlessly now.

(A variation of `collate.cpp` with added example for the new construct `collate<CustomCol>()`.)
[code]

Thank you very much.

[2021-08-09 04:16] fnc12 commented on #767
@zingchen you are welcome!

[2021-08-09 04:16] #767 closed

[2021-08-12 08:55] zhang-chuanfeng opened #774 "support c++11 compilation"
Can it support c + + 11 compile

[2021-08-12 08:56] fnc12 commented on #774
now. It uses template lambdas which appeared at C++14

[2021-08-12 09:16] zhang-chuanfeng commented on #774
Other projects that use c++11 cannot compile with sqlite_orm. The previous project has always used c++11. Compatible with c++11 is better, otherwise you must use a compiler version of c++14 or higher .

[2021-08-12 10:48] #774 closed

[2021-08-12 11:02] zhang-chuanfeng commented on #774
ok,thank you.

[2021-08-17 14:59] eclarkso opened #776 "Possible to use pointer types via iterators without copy construction?"
This is a sort of followup to a similar the question/issue in https://github.com/fnc12/sqlite_orm/issues/500...

Similarly, I have a data table with many objects in it, *and* those objects have some pretty heavy fields.
[code]
As with the linked issue, I want to make available to a caller an iterator (so that I don't have to store all the `DataProxy` objects in memory).  But I also want to avoid (

[2021-08-17 15:51] fnc12 commented on #776
Just replace

'for(auto dataProxy : dataIterator) {'

with

'for(auto &dataProxy : dataIterator) {'

[2021-08-17 15:53] eclarkso commented on #776
I was just coming here to say I missed the reference in the example (🤦).  Sorry about that - I'm still having compile issues but I suspect they're stuff I just need to work through.

[2021-08-17 19:06] eclarkso commented on #776
Does `iterate` support `join`, and if so what am I doing wrong?  A simple `storage->iterate<DataProxy>()` compiles, but if I try a `join` (with `where`)
[code]
I get confusing-to-me c++/sqlite_orm template specialization compile (clang) errors:
[code]
Also perhaps relevant, since they appear in the giant type listing above - there are two other DB structures/tables (`TestcaseProxy` and `TestMatrix

[2021-08-17 21:33] fnc12 commented on #776
storage->iterate<DataProxy>(join<NodeProxy>(on(c(&NodeProxy::id) == &DataProxy::nodeID)),
	                                   where(in(c(&NodeProxy::id),ids)));

How would you write this query using sql?

[2021-08-17 21:44] eclarkso commented on #776
[code]
I realize in this particular case, I could omit the join and just do a simple where on the `nodeID` field (which you can do per the `iterate` example).

However, what I'm *really* after is a query like
[code]
... where I need the JOINs.

[2021-08-18 05:47] fnc12 commented on #776
AFAIK `JOIN` must be placed after `WHERE`

[2021-08-18 05:57] fnc12 commented on #776
also replace `in(c(&NodeProxy::id),ids)` with `in(&NodeProxy::id, ids)`

[2021-08-18 06:07] fnc12 commented on #776
don't use `c` function if you are not sure that you need to use it

[2021-08-18 15:47] spiritEcosse commented on #506
I don't meet this error if sqlite use in memory

[2021-08-18 15:50] spiritEcosse commented on #506
by the way, for the sake of interest, is it possible to use sqlite like redis (run inn memory and save by time or count actions) ?

[2021-08-18 16:54] fnc12 commented on #506
@spiritEcosse yes. You can create in memory database and sometimes run backup API
[code]

[2021-08-18 16:55] fnc12 commented on #506
@spiritEcosse by the way: what project do you develop with `sqlite_orm`?

[2021-08-18 16:55] spiritEcosse commented on #506
my project is mobile app

[2021-08-18 17:04] spiritEcosse commented on #506
there is project mybible and i write analog for mobile linux and in the future for multi platforms

[2021-08-18 17:49] eclarkso commented on #776
Ok, tried
[code]
but get a similar gigantic undefined template error.  The first bit (line 9581) is the same, but the 2nd is from line 10038 instead of 10034.  I'm guessing that's from getting rid of the extra `c()` usage though:
[code]
I'm including the entire gigantic template to show the presence of `TestcaseProxy` and `TestMatrixProxy` in the template error, which doesn't make much sense to me

[2021-08-19 01:11] eclarkso commented on #746
I am just reading documentation and not actually running anything, but are you sure the Ubuntu issue is hitting the template recursion depth?  https://stackoverflow.com/questions/52171430/how-to-avoid-gcc-crash-due-to-lack-of-memory suggests it's pretty easy to hit 6-8GB RAM usage with sufficiently complicated templates, and GitHub runners only have 7GB.

Moreover, if you were hitting the default

[2021-08-19 04:26] fnc12 commented on #506
@spiritEcosse wow that is nice. Do you have a link to provide it inside readme?

[2021-08-19 04:28] fnc12 commented on #776
looks like `ids` has type `std::set` which cannot be serialized. Either we need to add serialization for it into `sqlite_orm` or you need to change it to `std::vector`

[2021-08-19 04:29] fnc12 commented on #746
@eclarkso I am not sure about that. To be sure we need to implement Ubuntu with GCC first

[2021-08-19 09:09] spiritEcosse commented on #506
sorry , I didn't write readme yet

[2021-08-19 10:16] spiritEcosse commented on #506
but you want to see repo ?

[2021-08-19 10:25] fnc12 commented on #506
Writing `Do you have a link to provide it inside readme?` I meant to mention your project inside readme of this repo

[2021-08-19 10:25] fnc12 commented on #506
I am not sure whether it is required

[2021-08-19 10:29] spiritEcosse commented on #506
oh, sorry, yes, this is cool
https://github.com/spiritEcosse/bible

[2021-08-19 12:51] eclarkso commented on #776
Aaaah, I feel so dumb.  `std::set` serialization would be useful for sure, but that's minor.  To summarize what I learned for anyone finding this in search:

- `iterator` returns a list of references
- `where` must come *before* `join`
- only use `c()` method when required (e.g., `c(&C::foo) == value`)
- only use `std::vector` containers

Thank you so much for your help - and sorry for creating an

[2021-08-19 12:52] fnc12 commented on #776
@eclarkso it is ok. Please feel free to ask anything. Good luck!

[2021-08-19 13:22] eclarkso commented on #776
Slight correction:  `where` must come *after* join per sqlite syntax:  https://www.sqlite.org/syntax/select-core.html.  Didn't notice at first b/c it's a runtime exception and I was pretty happy everything compiled.

[2021-08-19 13:22] #776 closed

[2021-08-21 16:28] fmichaut-dev commented on #659
Hello,
Sorry for the delay, I was busy a lot lately

I'm gonna make `make_trigger` work in the same way as the `make_table` as you suggested.
I was going with a signature like this :
[code]
I am just wondering if you prefere `table` to be just a string or a `internal::table_t` (returned by `make_table`) ?

Also, how do I generate the `sqlite_orm/sqlite_orm.h` file from all the includes in the `dev

[2021-08-21 16:51] fnc12 commented on #659
[code]

No strings if it is possible. If you need to specify table just pass it as a template argument `<User>`. If you need to pass a column just pass a member pointer `&User::id`.

If you can please make API look the same way as SQL. This is how `sqlite_orm` is built.

[2021-08-23 21:21] IvanRibakov commented on #718
@fnc12 Are YOU there?

[2021-08-24 03:56] fnc12 commented on #718
@IvanRibakov sorry I was a little bit busy. I remember about your question. I'll post the code and stack trace soon

[2021-08-31 11:30] PandarinDev opened #782 "Running queries directly on the SQLite database"
While the interface exposed by sqlite_orm is great, sometimes it'd be nice to run direct SQL on the database opened by sqlite_orm. As far I know there is no way currently to directly run a query, or to get a handle to the opened database. I understand these calls might invalidate state managed by sqlite_orm so they're not safe, but currently I have to open my database directly with SQLite's C API,

[2021-08-31 12:03] fnc12 commented on #782
all you can do is access `sqlite3 *db` handle using `on_open` storage's member:
[code]
Direct SQL is not available by design cause main goal if this lib is making great DSL API which will replace raw string queries in 100% cases.

[2021-09-01 07:13] PandarinDev commented on #782
That's good enough for me now, thanks!

[2021-09-01 07:35] #782 closed

[2021-09-01 07:49] fnc12 commented on #770
closing due to inactivity. If someone still has any question please feel free to reopen this issue/post a new one/start a discussion

[2021-09-01 07:49] #770 closed

[2021-09-01 07:50] fnc12 commented on #782
@PandarinDev I've added a new entry in FAQ [here](https://github.com/fnc12/sqlite_orm/wiki/FAQ) to make it clear for people who faces the same issue in future (item 2)

[2021-09-01 07:54] fnc12 opened #783 "'Used by' list"
I'd like to add a list of project where `sqlite_orm` is used. I am begging everyone who uses this lib to add information about their project.

Please add:
- project name
- company name
- project link
- additional information (sphere, achievements, something else to show off😀)

It will help in making `sqlite_orm` even better and in growing the community of this library.
Thanks in advance.
Yevgeniy

[2021-09-05 05:30] #763 closed

[2021-09-05 05:30] fnc12 commented on #718
@IvanRibakov are you there?

[2021-09-06 19:50] freakstatic opened #784 "Creation of indexes not including order or collation"
For example:

[code]

I'm getting:
[code]

The "descending order" and the "collate" aren't being included in the query.
I'm missing something?
I'm using v1.6 and compiling with Apple clang version 12.0.5

[2021-09-08 06:00] fnc12 commented on #784
Hi. Let me check it. I'll write you back

[2021-09-08 11:37] IvanRibakov commented on #718
I don't have anything to add here.

I'm off to reviewing current persistence layer architecture and looking for a way to avoid concurrent writes. Perhaps you know a mutex implementation with following properties:
- inter-process
- multiple readers / single writer
- recursive

?

[2021-09-08 11:37] #718 closed

[2021-09-08 11:55] fnc12 commented on #718
Try the simplest `std::mutex` or `std::recursive_mutex`. It is slow but effective

[2021-09-09 09:33] fnc12 commented on #784
@freakstatic it is a bug. I am fixing it right now

[2021-09-09 17:36] fnc12 commented on #784
the fix is here https://github.com/fnc12/sqlite_orm/pull/789

[2021-09-09 18:35] freakstatic commented on #784
Hi @fnc12!
I can confirm that #789 fixes it
Thank you very much, keep your great work!

[2021-09-09 18:35] #784 closed

[2021-09-09 18:36] fnc12 commented on #784
@freakstatic can you tell me please in what project you use `sqlite_orm`?

[2021-09-09 18:44] freakstatic commented on #784
since it hasn't been released yet I can't discuss much about it but I can say that it's an application to manage audio files. It uses a SQLite database for that, so sqlite_orm fits really great for CRUD operations! :)

[2021-09-09 18:45] fnc12 commented on #784
wow sounds nice. I'd like to make a list of projects that use `sqlite_orm` here in this repo. Can you send me a link to your app once it is released please?

[2021-09-09 18:48] freakstatic commented on #784
Should I post on #783?

[2021-09-09 18:48] fnc12 commented on #784
yeah. Thanks

[2021-09-09 18:50] freakstatic commented on #784
Btw are you thinking of creating a hot fix for v1.6 with this fix or are you planning to wait for the new version?

[2021-09-09 18:53] fnc12 commented on #784
I am planning to wait for a new version

[2021-09-09 18:55] freakstatic commented on #784
Ok, thanks for letting me know

[2021-09-10 18:51] fnc12 commented on #653
@Overlordff is the issue actual?

[2021-09-13 05:19] khgreav opened #790 "sync_schema ignores the addition of foreign keys, and incorrect insert statement"
Hi, first and foremost, thanks for the library as I haven't seen too many usable ones around.

Now to get my issue, I've been playing with the library and testing it for a bit on and off. Yesterday, I came across 2 issues.
To illustrate, I've put together a small example below.

I tend to use class-based entities, but that shouldn't be an issue, at least I never found one up until now.

[code]

1)

[2021-09-13 05:32] fnc12 commented on #790
Hi. Thank you for using this lib and saying such nice words about it.
1. Actually yes. `sync_schema` was created to sync column equality first and it has not `FOREIGN KEY` support. There is a TODO entry in [TODO list](https://github.com/fnc12/sqlite_orm/blob/master/TODO.md) which is related to foreign keys. I (or someone) need(s) to add this feature. If you can help it would be nice to know how to

[2021-09-13 05:34] fnc12 commented on #790
Hey. I've added raw insert in [TODO list](https://github.com/fnc12/sqlite_orm/blob/dev/TODO.md) a moment age

[2021-09-13 08:55] khgreav commented on #790
Thanks for the quick reply.
1. Alright, I'd love to help, I'll look into it in my spare time. It should definitely be possible. I'm using sqlitebrowser to visualize contents of the database and it can display foreign keys, should I contribute here if I figure something out?
2. That's a mistake on my part then, I tried using `storage.replace` in the example and it seemed to work. So probably fine.

[2021-09-13 10:00] fnc12 commented on #790
Yes

Nice!

Thank you! I'll place it right into https://github.com/fnc12/sqlite_orm/issues/783 just yet.

[2021-09-13 10:14] khgreav commented on #790
Not sure how things work out, but like I said, if I don't find any major missing features, I definitely want to use the library for our project. C/C++ ORM is hard to come by. Requirements aside, I love projects like these and I want to see them get more traction. Every bit of exposure helps bring people in and contribute to make them even better.

[2021-09-13 10:16] fnc12 commented on #790
Oh that is [cool](https://www.youtube.com/watch?v=TGwZ7MNtBFU&ab_channel=GwenStefaniVEVO). Please report every missing feature. It is very important. The goal if this lib is replacing raw string queries with strong typed and typos free with C++

[2021-09-15 12:12] khgreav commented on #790
Hi, after a bit of googling, it seems that you can just use a pragma.

Using `PRAGMA foreign_key_list("table_name")` should do the trick, see the image below.

![image](https://user-images.githubusercontent.com/18739846/133430419-0d9297cc-f2f7-4558-b4a0-d6281f9d2acf.png)

From there, the handling should be similar to your `get_table_info` function.

from -> table.to

[2021-09-17 05:36] fnc12 commented on #790
Thank you. I'll make an improvement of `sync_schema` soon

[2021-09-17 18:17] define-private-public opened #791 "two warnings from `-Wsign-conversion` (v1.6)"
Lovely library!

I'm using the latest release with GCC 10.2 (on Ubuntu).  I'm one of those folks who likes to turn on extra warnings and clean them up.  I added `-Wsign-conversion` to my build and had these two pop up:

[code]

This doesn't look like a problem, but it would be nice to have these warnings cleaned up.

[2021-09-17 18:19] fnc12 commented on #791
@define-private-public ok thank you. I am also a person who likes to turn on extra warnings and clean them up. I'll look whether this warning exists in `dev` branch and remove it

[2021-09-18 07:37] liwei1024 opened #792 "Can you update the VCPKG"

[2021-09-18 07:42] fnc12 commented on #792
I never did it. I don't know how to do it. All previous times it was done by people who needed it like you. I've added 'help wanted' label here

[2021-09-19 14:44] fnc12 commented on #791
@define-private-public BTW what project you use `sqlite_orm` for? I am gathering info to make a list of projects where `sqlite_orm` is used. Thanks

[2021-09-19 17:17] define-private-public commented on #791
It's right now a private project still in very early development.  When it's released, I'll be sure to ping you.

[2021-09-20 17:27] fnc12 commented on #791
@define-private-public I don't understand how can I fix this. I cannot reproduce it cause I don't have GCC. Looks like I need to add `static_cast` somewhere but I can't understand where. What do you think?

[2021-09-20 20:18] define-private-public commented on #791
Sure, I can take a stab at it for you.

On Mon, Sep 20, 2021 at 1:27 PM Yevgeniy Zakharov ***@***.***>
wrote:

[2021-09-21 07:44] fnc12 commented on #692
@krish-2214 hi. I am developing raw `INSERT` feature right now. API will be like this:
[code]
What do you think?

[2021-09-21 22:09] define-private-public commented on #791
Okay, I've figured out how to get rid of it for GCC (note, this never showed up for clang, but the solutions don't cause any warnings/errors for that compiler either).

Looking at the docs for [`std::tuple_element`](https://en.cppreference.com/w/cpp/utility/tuple/tuple_element), that first template argument wants a parameter of type `std::size_t`.  But in these two instances, you're passing in an

[2021-09-25 07:57] longnguyen2004 commented on #792
@liwei1024 Please make an issue at https://github.com/microsoft/vcpkg/issues

[2021-09-25 08:01] longnguyen2004 commented on #792
@fnc12 Also, will there be another tagged version, or is it rolling now?

[2021-09-25 08:53] fnc12 commented on #792
@longnguyen2004 1.7 will appear soon. During a month for sure

[2021-09-29 03:15] define-private-public commented on #791
@fnc12, have you been able to take this fix out for a spin?  I understand if you can't do a release right away, but I'd like to know what you consider the proper fix to be for this library, so I can make the change in my local project (to get rid of the warnings).

[2021-09-29 03:28] define-private-public opened #794 "Cant add `noexcept` to setters & getters"
I know that I can have sqlite_orm serialize my enums, but I wanted to do something a little simpler in the meantime and just cast them to/from `int`.  I tried adding this:

[code]

But when I added those functions to the `make_column()` call compilation failed.  Right now I'm just removing use of the statement.  But it would be nice to be able to use this keyboard.  If not, then adding a note in t

[2021-09-29 09:05] fnc12 commented on #791
@define-private-public hey sorry I was busy cause I was working on 'raw insert' feature. I want to fix it soon using `static_cast` cause it will lead to the least code change (I need to change for loops' conditions otherwise). Let's keep this issue opened until I merge a fix into `dev` branch

[2021-09-29 09:08] fnc12 commented on #794
@define-private-public yes you right - it is got to be fixed. Actually it is a very rare case and nobody asked for it and I did not add `noexcept` support by myself. I'll fix it soon. Thank you

[2021-09-29 20:56] fnc12 commented on #794
@define-private-public damn looks like it is not supported in VC++ https://ci.appveyor.com/project/fnc12/sqlite-orm/builds/40961551/job/v0o7dmiby35wysl9. What compiler do you use?

[2021-09-30 00:16] define-private-public commented on #794
Well that sucks.  Could be a little different for C++17 (https://docs.microsoft.com/en-us/cpp/build/reference/zc-noexcepttypes?view=msvc-160). I use GCC (mostly) and clang.

You could do something like this: https://stackoverflow.com/a/18387764

But I think you then need all of your users to use this `NOEXCEPT` macro to keep their code portable between compilers/platforms.  You could also do this

[2021-09-30 08:59] fnc12 commented on #794
Ok let me try. Also there are some errors with includes. I'll try to fix it all. Thanks for advices

[2021-09-30 16:01] fnc12 commented on #794
I've fixed include errors https://ci.appveyor.com/project/fnc12/sqlite-orm/builds/40967896 and now C++14 builds only fail. My idea is to avoid `NOEXCEPT` ugly macro but use `#ifdef C++17`. What do you think? @define-private-public  Do you use C++17 or higher?

[2021-10-01 02:45] define-private-public commented on #794
I use C++17, but I think there is still enough people on C++14 though.

I think what you could do something like this:
[code]

That way for C++14 on MSVC, the `noexcept` statements will be ignored by the compiler.  I do suggest making a note of this somewhere in the documentation that you are redefining C++ keywords, but make sure to mention why.

[2021-10-01 02:46] define-private-public opened #796 "Automatic `enum` serialization"

[2021-10-01 03:01] define-private-public commented on #796
Sorry about that,  the OP now has the intended text it should.

[2021-10-01 05:14] define-private-public opened #797 "Updating an item retrived with `get_pointer()`"
I'm not always a fan of having to do exception handling.  So I like using that `get_pointer()` method.  I did this in my code:

[code]

Inside the `if` block, I tried to do `db.update(todo)`, but it failed to compile.  Then when I did `db.update(*todo)` it compiled fine.

I think it would be much more programmer friendly if the `update()` method could also accept in the pointers that are made with

[2021-10-01 08:04] fnc12 commented on #794
I'd like to avoid redefining C++ keywords. Let's try to make this feature for C++17 only. If a lot of people start asking to make it available for C++14 then I'll change it. Also it will motivate people to move from C++14 to C++17

[2021-10-01 08:15] fnc12 commented on #796
How would you write enums if this feature exists? Please provide an example.
1) serializing as int automatically is not preferred by a half of developers. I used to examine it for the first year of maintaining this lib. So I don't understand why `int` is preferred and not `std::string`;
2) one can detect that type is enum using `std::is_enum` from `type_traits`;
3) `magic_enum` does not allow spec

[2021-10-01 08:24] fnc12 commented on #797
No cause if function can accept a pointer then it needs to know what to do if this pointer is null. This is not a scenario for SQLite. Dereferencing an object to pass to a database is responsibility of a client (you) cause you use pointers instead of strict values (and it costs adding only one character in your code). If you don't like writing `*` inside every update call then you can write your o

[2021-10-01 20:04] fnc12 commented on #794
@define-private-public I've merged the PR a minute ago into `dev` branch. Please check it out

[2021-10-01 23:18] define-private-public commented on #797
Okay, fair enough.  I'll close the issue.

[2021-10-01 23:18] #797 closed

[2021-10-01 23:29] define-private-public commented on #794
It works! (Thanks!)

Checking the bottom of the readme, you need to update it to say C++17 is now a requirement.

[2021-10-01 23:46] define-private-public commented on #796
I tend to write my enums like this:

[code]

1. I can understand wanting to use strings to serialize, as it does make the database more readable when you read the data in another SQL browser.  Where I believe integers would be preferred (over strings) is that they take up a lot less space in the database (e.g for an enum, changes are you'll probably need nothing more than two-bytes to be stored);

[2021-10-02 07:29] fnc12 commented on #794
No C++17 is not a requirement cause one can use this lib with C++14. This is the same way how std::optional support works: if you enable C++17 then you have std::optional support in this lib. Otherwise everything works just like std::optional does not exist.

[2021-10-02 07:29] #794 closed

[2021-10-02 08:03] fnc12 commented on #796
1. Actually short strings take less process memory cause of short string optimizations. Also strings are encoded the same way as integers inside SQLite: using XML. So a number like 12345 requires more memory than string 'new'. Parsing of decimal integers is also more complicated that string parsing cause during decimal parsing you need to convert decimal characters to binary but string is being pa

[2021-10-05 04:23] define-private-public commented on #796
1. Really?  Is there a link for that to read up on.  I'm away of short string optimizations, but am interested in how SQLite works under the hood for data storage.  I'm working on a small demo application right now, but I could do a benchmark to see if storing enums as strings or integers is more performant.
2. That's a whoopsie on my part;  I copied the wrong link: https://github.com/Neargye/magi

[2021-10-05 08:27] fnc12 commented on #796
1. I can't find the answer for the question 'sqlite stored binary or text data' but I found a details page here https://www.sqlite.org/fileformat.html. Anyway string storage works well both in case of binary and text encoding but integers work fast only with binary encoding. That is why text format of files is so popular almost everywhere. So I still don't see any reason to make all enums integer

[2021-10-05 10:16] fnc12 commented on #653
closing due to inactivity

[2021-10-05 10:16] #653 closed

[2021-10-09 08:26] sunlong169 opened #802 "How to check the integrity of the sqlite database?"
I use sqlite_orm to create\read\write\update\backup\restore the `sqlite` database which runs Ubuntu on on embedded hardware.

Since the embedded system may be suddenly powered off(which is out of my control. see the note) and the application may be seldomly & unexpected killed or crashed, how can I check the integrity of the `sqlite` database by sqlite_orm when the application starts?

If this goa

[2021-10-09 08:52] fnc12 commented on #802
First of all you need to know how to do it using `libsqlite3` and later I will be able to add this feature.

[2021-10-09 09:47] fnc12 commented on #802
Googling showed me [`PRAGMA integrity_check`](https://serverfault.com/questions/8048/how-can-i-verify-that-a-sqlite-db3-file-is-valid-consistent) feature. It can be implemented in `sqlite_orm` like this:
[code]
I can add it. What do you think?

[2021-10-09 09:49] sunlong169 commented on #802
It's really a good news for me. Thanks so much.

[2021-10-12 07:21] sunlong169 opened #804 "The concurrency when read/update the database by sqlite_orm?"
I invoke the APIs of `sqlite_orm` to read\update a specific SQLite database from different threads.

Should I use an extra mutex\lock to guarantee that read\update operations would not be done at the same time?

[2021-10-12 07:35] sunlong169 opened #805 "The concurrency when read/update the database by sqlite_orm?"
I invoke the APIs of `sqlite_orm` to read\update a specific SQLite database from different threads.

Should I use an extra mutex\lock to guarantee that read\update operations would not be done at the same time?

[2021-10-12 08:01] fnc12 commented on #805
duplicate

[2021-10-12 08:01] #805 closed

[2021-10-12 08:22] fnc12 commented on #804
SQLite works like this: you can use many thread for reading and only one for writing simultaneously. So I'd prefer to having a mutex for writing operations (`INSERT`, `UPDATE` etc) and that's all. Also probably you can reconstruct your code by having only one writing thread - it will help you to avoid mutexes

[2021-10-12 09:39] fnc12 commented on #804
https://github.com/fnc12/sqlite_orm/issues/430
https://github.com/fnc12/sqlite_orm/issues/506
https://github.com/fnc12/sqlite_orm/issues/574
https://github.com/fnc12/sqlite_orm/issues/163
https://github.com/fnc12/sqlite_orm/issues/207
https://github.com/fnc12/sqlite_orm/issues/210

try filters `is:issue thread`

[2021-10-13 05:08] define-private-public opened #806 "`sqlite_sequence` table cleared out when doing `sync_schema()`"
Right now I've been working on a test application so I can iron out how I'm going to use sqlite_orm in one of my larger projects.  This includes figuring out how to do migrations.  V1 of my DB schema had a table with a `PRIMARY_KEY AUTOINCRMENT` on it.  So I would see a `sqlite_sequence` table generated in the DB.

The issue arose when in V2 of my DB schema, I changed a column in that table, thus

[2021-10-14 04:54] define-private-public opened #808 "Made a sample app"
https://gitlab.com/define-private-public/sqlite_orm_todo_sample

Right now I'm working on a much larger app, but I wanted to take some time to better learn how to use SQLite ORM (e.g. "how would I do a data migration?").  So I spent some time making a sample application.  It's a very simple command line TODO list.

If you have any suggestions on how to make this a better sample for others, or desi

[2021-10-14 08:29] fnc12 commented on #808
That is nice. Let me add some comments:
1) using a sequence `autoincrement(), primary_key()` is legacy and will be removed at v1.8. Better write `primary_key(), autoincrement()` instead. Later it will be refactored to `primary_key().autoincrement()` but not right now;
2) it is better to serialize enum using built in `sqlite_orm` way just like it is implemented in [`enum_binding` example](https://g

[2021-10-14 19:47] rocaalc opened #809 "MSVC 2015 with c++14"
Hi,

Only there are two compiler error if it is used the compiler of visual studio 2015 with /std:c++14 flag.
In master or V1.6:

sqlite_orm-1.6\include\sqlite_orm/sqlite_orm.h(2348): error C2661: 'sqlite_orm::internal::order_by_base::order_by_base': no overloaded function takes 2 arguments
sqlite_orm-1.6\include\sqlite_orm/sqlite_orm.h(6374): error C2440: 'initializing': cannot convert from 'init

[2021-10-14 22:21] rocaalc commented on #525
It is due to there is not implicit constructor in table_base. With this one line is fixed:

table_base(decltype(name) name_):name(std::move(name_)){}

Currently, it exists in last version in MSVC 2015 c++14 support, always is necessary a constructor.

[2021-10-14 22:25] fnc12 commented on #809
Hi. Can you reproduce it with `dev` branch?

[2021-10-14 22:26] rocaalc commented on #809
Fix with --> below:

First compiler error:
Add constructor in order_by_base:
order_by_base(int asc_desc_, std::string _collate_argument_):asc_desc(asc_desc_), _collate_argument(std::move(_collate_argument_)){}

Second compiler error:
Add constructor in table_info:
table_info(decltype(cid) cid_, decltype(name) name_, decltype(type) type_, decltype(notnull) notnull_, decltype(dflt_value) dflt_value_

[2021-10-14 22:31] rocaalc commented on #809
The closed issue #525 is also caused by a necessary constructor in msvc 2015.

[2021-10-14 22:40] rocaalc commented on #809
I don't know. Only I reproduce this bug in master branch.
But, it takes me 5 minutes to see the dev branch, I'll see. And... YES! in dev branch is the same issue.

[2021-10-14 22:41] fnc12 commented on #809
Ok I'll fix it today later. Thanks

[2021-10-14 22:43] rocaalc commented on #809
One thing, in dev branch, there is a new function_base without constructor.

[2021-10-15 02:07] define-private-public commented on #808
1. Thanks for the heads up.  Done.
2. I actually did that for V2.  Take a look: https://gitlab.com/define-private-public/sqlite_orm_todo_sample/-/blob/7f15127a9d419394eec91f9e8c1103310fa2101b/src_v2/Data/V2/StatusEnum_sqliteorm_serialize.h
3. I'm aware of `string_view`.  I just wanted to keep things simple at the moment
4. Thanks!  I was wondering if there was a way to do that with one DB operatio

[2021-10-15 19:48] #808 closed, assigned to nobody

[2021-10-17 13:32] fnc12 commented on #809
@rocaalc the fix is here https://github.com/fnc12/sqlite_orm/pull/812

[2021-10-18 16:10] #809 closed, assigned to rocaalc

[2021-10-18 18:22] fnc12 commented on #806
IDK. How does it work with raw SQLite? `sqlite_orm` does not operate with `sqlite_sequence` straightly. So probably you'll face the same issue with raw SQLite

[2021-10-21 12:10] allspark opened #815 "iterate-like interface but for select with columns"
Hi,

from the join example
[code]
rows is a `std::vector<std::tuple<Columns...>>`. it would be nice if the same query would be possible with `iterate` to get a view over `std::tuple<Columns...>` instead.

[2021-10-22 05:11] #242 closed, assigned to fnc12

[2021-10-31 07:17] khgreav opened #820 "build errors from raw insert"
Hi, I've noticed that a new release is out and wanted to check it out, but I'm getting the following build errors:

[code]

Do I need to take any extra steps from the 1.6 release or is this not on my end?

[2021-10-31 07:25] fnc12 commented on #820
Hi. Let me check it

[2021-10-31 07:27] fnc12 commented on #820
Yes looks like a bug. It is strange that appveyor CI passed the checks. You can use not header only version from `not_single_header_include` folder. it works. Header only will be fixed right now in `dev` branch

[2021-10-31 07:35] fnc12 commented on #820
here is the fix https://github.com/fnc12/sqlite_orm/pull/821. It will be merged today

[2021-10-31 07:38] khgreav commented on #820
Thanks, I'll check it out and let ya know.

[2021-10-31 08:03] khgreav opened #822 "updating nullable columns"
Hi, another quick question.

I prefer the private class members approach and one of the properties is a shared_ptr, when inserting a new record, there is no issue and the nullable value is added. Is it possible to update the value later using the code below or do I have to build a proper statement?

[code]

The above did not work, but I did not catch any errors. I should also say that this particu

[2021-10-31 08:06] fnc12 commented on #822
Hi. What do you mean 'did not work'? What did you expect and what did you get instead?

[2021-10-31 08:08] khgreav commented on #822
So, when I orignally added a new record, it was inserted with a value, then I tried to update the value, but it hasn't changed.

[2021-10-31 08:09] fnc12 commented on #822
Please provide `make_storage` call and your data model class to be able to reproduce it

[2021-10-31 08:36] khgreav commented on #822
[code]
Here's the full example, just call the example function with a path. I remember some struggles back when I first tried to use pointers here for nullable columns, but it was fine since then.

[2021-10-31 10:54] khgreav commented on #820
Adding the forward declarations was enough to make the build pass.

[2021-10-31 11:17] fnc12 commented on #822
@khgreav let me try to reproduce it

[2021-10-31 11:55] fnc12 commented on #820
merged to `dev`. Please check it out

[2021-10-31 12:16] fnc12 commented on #822
yeah it reproduced the bug. Give me some time to find a clue

[2021-10-31 12:26] fnc12 commented on #822
I found a bug inside `update` function. It works incorrectly. Please use `update_all` instead until this bug is fixed. Thank you for reporting

[2021-10-31 15:22] khgreav commented on #822
`update_all` works, thanks.

[2021-10-31 15:35] khgreav commented on #820
Yep, it's fine now, thanks!

[2021-10-31 16:21] #820 closed

[2021-11-02 15:26] yanghongtian opened #824 "how to automatically store data into one table a day"
data generated in 2021-10-30 -> store to table "t_2021-10-30"
date generated in 2021-11-01 -> store to table " t_2021-11-01"

all data generated should has a timestamp field which can be used to determine the date string.

[2021-11-02 15:27] yanghongtian opened #825 "how to store customized struct as a blob column"
[code]
how to store rect filed as a rect blob column using sqlite_orm?

looking forward to your reply, thanks

[2021-11-02 15:32] fnc12 commented on #825
I'll add an example soon

[2021-11-02 22:51] fnc12 commented on #825
https://github.com/fnc12/sqlite_orm/blob/table-refactor/examples/blob_binding.cpp

[2021-11-03 04:14] yanghongtian commented on #824
thanks for your quick reply. here is an example.
struct Rect {
int x;
int y;
int w;
int h;
};

struct Obj {
 int obj_type,
 Rect rect;
 TimeStamp timestamp;
};

auto storage = make_storage("objs.sqlite",
make_table("objects", ...)
);
Obj obj1 = {
1,
{10, 10, 50, 50},
Timestamp::now()
};

Obj obj2 = {
1,
{20, 20, 100, 100},
Timestamp::now() - 1 * 24 * 3600 * 1000 * 1000    /// one day ago, in micro

[2021-11-03 04:16] yanghongtian commented on #825
thanks a lot.

[2021-11-03 07:54] #825 closed

[2021-11-03 15:18] fnc12 commented on #824
I still can't understand what do you need. BTW what type is `TimeStamp`?

[2021-11-03 20:05] fnc12 commented on #822
@khgreav fix is here https://github.com/fnc12/sqlite_orm/pull/827

[2021-11-05 10:36] fnc12 commented on #822
merged into `dev` branch

[2021-11-05 11:02] fnc12 commented on #561
@juandent I am back. I'll try to finish this feature this week. Sorry again for waiting. I was busy with v1.7 release

[2021-11-05 14:31] khgreav commented on #822
The provided example still does not work. Value hasn't changed.

I made sure I have a clean build and the latest commit.

`commit 93dd20bb0ca495344cc7578a9ac2407eaf730bda (HEAD, origin/dev)
`

[2021-11-05 19:04] fnc12 commented on #822
damn. Let me check it out

[2021-11-05 19:33] fnc12 commented on #822
fix is here https://github.com/fnc12/sqlite_orm/pull/828

[2021-11-05 22:38] fnc12 commented on #822
merged

[2021-11-05 22:38] #822 closed

[2021-11-06 06:36] khgreav commented on #822
Looking good, provided example working as expected now. Thanks.

[2021-11-06 14:16] fnc12 commented on #561
@juandent the function is done here https://github.com/fnc12/sqlite_orm/pull/719. It can be called like this:
[code]
The PR will be merged into `dev` once CI scenarios are finished successfully.

[2021-11-08 18:07] spiritEcosse commented on #279
Hello, as i understand virtual table will help with full text search ?

[2021-11-08 22:15] fnc12 commented on #279
@spiritEcosse hello. I did not understand your question and why are asking it here. Do you want to implement full text search or coordinates search?

[2021-11-09 08:14] spiritEcosse commented on #279
Sorry, i thought this issue related with full text search.
Like in this article we can see support full text search.
https://www.sqlite.org/fts5.html

[2021-11-09 08:33] spiritEcosse commented on #279
maybe it is worth creating a separate issue?

[2021-11-09 08:34] fnc12 commented on #824
@yanghongtian are you there?

[2021-11-09 08:43] fnc12 commented on #594
@undisputed-seraphim is this issue actual?

[2021-11-09 09:09] fnc12 commented on #279
there is already one https://github.com/fnc12/sqlite_orm/issues/622

[2021-11-10 11:07] trueqbit opened #829 "Tuple passed to scalar/aggregate function should be moved"
The tuple from column values extracted by the create_scalar_function()/create_aggregate_function() callbacks are moved up to `call_impl`, but then it is treated as an lvalue, see [tuple_helper.h](https://github.com/fnc12/sqlite_orm/blob/0e32154ae52a1d8cfe1d3f2dd2e293e4c315ea67/dev/tuple_helper/tuple_helper.h#L138).

Shouldn't the tuple be moved again, such that a function could potentially consume

[2021-11-10 15:24] fnc12 commented on #829
Do you want to make a PR with this improvement?

[2021-11-10 19:14] trueqbit opened #830 "Amalgamation script must normalize file paths"
The amalgamation python script is keeping a list of already included files in order to determine whether it needs to paste an include into the target file _sqlite_orm.h_.
For this to function properly the script must normalize the paths, otherwise the key for the path list might differ during the amalgamation process even when referring to the same file. This leads to files being pasted multiple t

[2021-11-13 08:23] fnc12 commented on #830
@trueqbit can we close it already?

[2021-11-13 08:23] fnc12 commented on #829
I guess we can close this issue

[2021-11-14 08:28] #830 closed

[2021-11-14 08:28] #829 closed

[2021-11-16 10:01] trueqbit opened #836 "statement seralizer/binder is missing the ability to take a string view"

[2021-11-16 22:28] juandent opened #838 "is there a way to have a sqlite db encrypted?"
I am building a database which has sensitive information. I don't want anyone to be able to read the contents... Is there a way to encrypt the sqlite3 database?

[2021-11-17 12:23] fnc12 commented on #838
Yes. There is plenty of ways to encrypt your database. You can find a list if them on [SO](https://stackoverflow.com/questions/5669905/sqlite-with-encryption-password-protection). To work with those extensions with `sqlite_orm` storage class has `on_open` member field which is called every time your database is opened and has one argument: a database holder `sqlite3 *db` which can be passed into a

[2021-11-17 15:27] juandent commented on #838
Can you give an example of how to use on_open to encrypt a db?

Sent from my iPhone

[2021-11-17 15:37] juandent commented on #838
Does sqlite_orm work with wxSQLite3?

What is needed to configure this?

Regards
Juan

Sent from my iPhone

[2021-11-17 16:38] fnc12 commented on #838
I a not sure about wxSQLite3 cause it collides with `sqlite_orm`. But you can use [SEE](http://www.hwaci.com/sw/sqlite/see.html). All you need to do is to call `sqlite3_key` right after database is open. This is where `on_open` can be useful. Just call `sqlite3_key` right inside `on_open` and everything is done.

[2021-11-17 16:42] juandent commented on #838
Unfortunately SEE has a $2000 cost -- do you know of any open source equivalent?

[2021-11-17 16:45] fnc12 commented on #838
[SQLCipher](https://www.zetetic.net/sqlcipher/sqlcipher-api/) works the same way: call `sqlite3_key` inside `on_open` with a database and your key and that is all.

[2021-11-17 16:48] juandent commented on #838
same issue here -- it costs $499 / developer

[2021-11-17 16:49] fnc12 commented on #838
[botansqlite3
](https://github.com/OlivierJG/botansqlite3/blob/master/test_sqlite.cpp) works the same way and has no license. IDK why.

[2021-11-18 04:37] jahnf opened #839 "Request: pragma.application_id"
Since `get_pragma` and `set_pragma` is private in newer versions of the library, please add support for `application_id`

See: https://www.sqlite.org/pragma.html#pragma_application_id

Thanks for this great library 👍

[2021-11-18 06:32] fnc12 commented on #839
will be added soon

[2021-11-18 07:25] fnc12 commented on #839
the feature is [here](https://github.com/fnc12/sqlite_orm/pull/840). Once CI is built successfully I'll merge it

[2021-11-18 07:25] fnc12 commented on #839
@jahnf BTW what project do you use this lib for?

[2021-11-18 07:43] jahnf commented on #839
Awesome, then I don't have to patch the the library locally 👍

It's a non-public project. I am using _sqlite_orm_ in the data management backend of my little pet project "monkey-server", an (automated) trading server that gets data from _Metatrader_. All kinds of data is stored in the backend (historical financial data, trades, users, configurations...)

[2021-11-18 07:49] fnc12 commented on #839
Wow. Your project sounds very nice. Good luck with it. If you do something public with `sqlite_orm` I'd like you to add your project into project list https://github.com/fnc12/sqlite_orm/issues/783.
Also please consider the license of the library. It was changed since v1.7 https://github.com/fnc12/sqlite_orm/releases/tag/v1.7

[2021-11-18 07:56] jahnf commented on #839
Understood, my plan is to put parts of the project (the server and utilities part) public (as soon it reaches a code and documentation quality that I feel comfortable publishing)

[2021-11-18 08:00] fnc12 commented on #839
@jahnf actually it is not necessary to have a public project. I was telling you that using `sqlite_orm` for close source projects costs 50$🤷‍♂️

[2021-11-18 09:23] jahnf commented on #839
Yes, that is understandable - even my small open source project [Projecteur](https://github.com/jahnf/Projecteur) is a lot of work. Will consider this (license and/or put my library parts public) when the private project is at a real usable stage - currently I'm still developing basics of the infrastructure most of the time.

[2021-11-18 09:55] fnc12 commented on #839
@jahnf of course. Everything is ok. Please take your time. It was just a reminder. Thanks for a feature request.

[2021-11-18 10:17] fnc12 commented on #839
@jahnf merged into `dev` branch

[2021-11-18 16:56] jairoareyes opened #841 "Compiling error: error: ‘sqlite_orm::internal::is_upsert_clause’ has not been declared #814 or higher"
Hi, I'm having problems compiling the recent versions. It works well for me until Merge [#813](https://github.com/fnc12/sqlite_orm/pull/813), the higher versions throws me this error: `sqlite_orm/sqlite_orm.h:10077:25: error: sqlite_orm::internal::is_upsert_clause’ has not been declared
using `internal::is_upsert_clause;`

It seems to be related to the upsert feature, that is indeed what I'm tryin

[2021-11-18 16:57] fnc12 commented on #841
it is fixed in `dev`. Please use `dev` branch

[2021-11-18 17:02] jairoareyes commented on #841
`dev` branch shows this error: `sqlite_orm/sqlite_orm.h:6776:28: error: ‘is_convertible_v’ is not a member of ‘std’
         static_assert(std::is_convertible_v<typename T::value_type, const char*>,`